<ng-template #content let-c="close" let-d="dismiss">
    <div class="l-auth__container f-exclude">
        <loc-alert [error]='error' (close)='error=null'></loc-alert>
        <form class="l-auth__authform" [formGroup]="changeForm" (ngSubmit)="onSubmit(changeForm.value)" novalidate>
            <h2 class="l-auth__authform-heading">Change user password</h2>
            <div class='m-form__group'>
                <loc-input-text type="text" label="Username" placeholder="Name" formControlName="username" [ngModel]='username' required></loc-input-text>
                <show-error *ngIf="submitted" [options]="{'required': 'Username is required'}" [control]="changeForm.get('username')">
                </show-error>
            </div>
            <div class='m-form__group'>
                <loc-input-text type="text" label="Old password" placeholder="Name" formControlName="oldpassword" required type='password'></loc-input-text>
                <show-error *ngIf="submitted" [options]="{'required': 'Field is required'}" [control]="changeForm.get('oldpassword')">
                </show-error>
            </div>
            <div class='m-form__group'>
                <loc-input-text type="text" label="New password" placeholder="Name" formControlName="newpassword" required></loc-input-text>
                <show-error *ngIf="submitted" [options]="{'required': 'Field is required'}" [control]="changeForm.get('newpassword')" type='password'>
                </show-error>
            </div>
            <div class='m-form__group'>
                <loc-input-text type="text" label="Confirm password" placeholder="Name" formControlName="confirmnewpassword" required type='password'
                    validateEqual='newpassword'></loc-input-text>
                <show-error *ngIf="submitted" [options]="{'validateEqual':'Password is not equal', 'required': 'Field is required'}" [control]="changeForm.get('confirmnewpassword')">
                </show-error>
            </div>
            <footer class="l-auth__footer">
                <button type="submit" class="btn btn-primary" [disabled]='submitted && !changeForm.valid'>Change</button>
                <button class="btn btn-primary" (click)="cancel()">Cancel</button>
            </footer>
        </form>
    </div>
</ng-template>