<nav class="m-header__navbar" [class.splitted]="sidebar?.state$ | async">
    <button class='m-header__toggle' (click)="sidebar.open($event)"><span class="icon-android-menu"></span></button>
    <a [routerLink]="['/']" class="m-header__brand">200Loc-Dashboard</a>
    <ul class="m-header__menu" *ngIf="!isAuthenticated">
        <li class="nav-item"><a [routerLink]="['/auth/signin']" class="nav-link">Sign in</a></li>
    </ul>
    <div class="m-header__menu" *ngIf="isAuthenticated" style='margin-left: auto;'>
        <button class="m-header__menu-toggle" (click)='menu.toggleActive($event)'><i class="icon-user"></i></button>
    </div>
</nav>

<loc-header-menu #menu='locHeaderMenu'>
    <div class="m-header__dropdown-actions">
        <span class="m-header__dropdown-title">Signed in as <b>{{ username }}</b></span>
        <a [routerLink]="['/auth/change']" (click)="menu.toggleActive($event)" class="m-header__dropdown-actions-item">
            <span class="icon-arrows-ccw m-header__dropdown-icon"></span>
            <span class="m-header__dropdown-text">Change password</span>          
        </a>
        <a href='' (click)="signOut(); menu.toggleActive($event)" class="m-header__dropdown-actions-item">
            <span class="icon-log-out m-header__dropdown-icon"></span>
            <span class="m-header__dropdown-text">Sign out</span>            
        </a>
    </div>
</loc-header-menu>

<loc-side-bar [content]='sidebarContent' #sidebar='locSidebar' position='left'></loc-side-bar>
<ng-template #sidebarContent>
    <span class="m-sidebar__brand hidden-md-up">200Loc-Dashboard</span>
    <ul class="m-sidebar__menu">
        <li><a class="m-sidebar__menu-item" [routerLink]="['/entries']" (click)='sidebar.close()' routerLinkActive="active"><i class="icon-home icon-1x"></i>Entries</a></li>
        <li><a class="m-sidebar__menu-item" [routerLink]="['/services']" (click)='sidebar.close()' routerLinkActive="active"><i class="icon-home icon-1x"></i>Services</a></li>
        <li><a class="m-sidebar__menu-item" [routerLink]="['/health']" (click)='sidebar.close()' routerLinkActive="active"><i class="icon-home icon-1x"></i>Healthcheck</a></li>
    </ul>
    <nodes-list></nodes-list>
    <ng-template>