<div class="l-step">
    <div class="l-step__card">
        <div class='l-step__header'>
            <h2>Quick test</h2>
            <button class='button button--icon help'>
                <i class="icon-help-circled"></i>
            </button>
        </div>
        <loader [active]='loading'></loader>
        <div class="l-preview">
            <div class='row __commands-header'>
                <div class="col-xs-12 col-sm-2 __methods">
                    <loc-select [items]="['GET','POST','PUT','DELETE','PATCH', 'HEAD']" textField='name' label='Method' [ngModel]='selectedMethod' (change)='methodChange($event)'>
                    </loc-select>
                </div>
                <div class="col-xs-12 col-sm-8 __entry">
                    <span>URL: ~{{config.entry}}</span>
                    <loc-input-text label='Url' [(ngModel)]='requestUrl'></loc-input-text>
                </div>                
                <div class="col-xs-12 col-sm-2">
                    <button type="button" (click)="send()" class="button button--secondary __send">         
                        SEND
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 __options-tab">
                    <ngb-tabset #tabset class='l-steps__preview-tabset' (tabChange)='tabChanged($event)'>
                        <ngb-tab title="Headers" id='headers'>
                            <ng-template ngbTabContent>
                                <div style='padding:5px 0;'>
                                    <key-value-control [(ngModel)]='headers'></key-value-control>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Query" id='queryparams'>
                            <ng-template ngbTabContent>
                                <div style='padding:5px 0;'>
                                    <key-value-control [(ngModel)]='params'></key-value-control>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Body" [disabled]="bodyDisabled" id='body'>
                            <ng-template ngbTabContent>
                                <div style='padding:5px 0;'>
                                    <div ace-editor [text]="text" [mode]="'json'" [theme]="'eclipse'" [options]="aceOptions" [readOnly]="false" [autoUpdateContent]="true"
                                        (textChanged)="onChange($event)" style="min-height:250px;">
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
        <ng-template #contentPreview let-c="close" let-d="dismiss">
            <div class="l-steps__resultModal-container">
                <div [ngSwitch]="testresult" class='l-steps__result'>
                    <ng-template ngSwitchCase="json">
                        <div class='l-steps__result-json'>
                            <pre [innerHTML]='prettifyJson(result) | safeHtml'>                            
                            </pre>
                        </div>
                    </ng-template>
                    <ng-template ngSwitchCase="html">
                        <div class="l-steps__result-html">
                            <iframe [srcdoc]='result | safeHtml'></iframe>
                        </div>
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        <div class='l-steps__result-text'>
                            <pre [innerHTML]='result | safeHtml'>                               
                           </pre>
                        </div>
                    </ng-template>
                </div>
                <button type="button" class="button button--primary" (click)="c()" style='flex: 0 1 auto;'>Ok</button>
            </div>
        </ng-template>
    </div>
    <div class='l-steps__buttons'>       
        <button type="button" (click)="save.emit()" class="button button--primary l-master__next">
            <i class="icon-floppy-o" aria-hidden="true"></i>  Save
        </button>
    </div>
</div>