.l-step__card,
:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

:host /deep/ .nav-link {
  &.active {   
    border-bottom: 2px solid #d26911!important;  
  }
}

:host /deep/ .nav-item {
  border: none!important;

  > * {
    border: none!important;
  }
 
  &:not(.active) {
    border: none!important;

    &:hover {
      color: rgba(69, 90, 100, 1)!important;
    }

    > * {
      color: rgba(69, 90, 100, 0.7)!important;
    }
  }
}

.method-block {
  margin-top: 5px;
}

.send-button {
  background: #d26911;
  color: white;
  outline: none;
}

.l-preview {
  display: flex;
  flex-direction: column;
  flex: 1;

  .__commands-header {}

  .__entry {
    margin-bottom: .625rem;
    margin-top: .625rem;

    display: flex;
    justify-content: flex-end;

    > loc-input-text {
      margin-left: 10px;
      flex: 0 1 auto;
    }

    > span {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      display: inline-block;
      flex: 1 0 auto;
      margin: auto .625rem auto auto;
      max-width: 220px;
      text-align: right;
      margin-top: 5px;
    }
  }

  .__methods {
    display: flex;
    flex-direction: row;
    margin-bottom: .625rem;
    margin-top: .625rem;
    width: 100%;
  }

  .__send {
    margin-bottom: .625rem;
    margin-top: .625rem;
    width: 100%;
  }

  .__options-tab {}
}
