.plugin-item-container {
  padding: 0;
  margin: 0;
  list-style: none;
//  overflow: hidden;

  > li {
    position: relative;
    padding: 10px;
    color: #455A64 !important;
    background: #ffffff;
    background: #f9f9f9;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    > .button-group {
      position: absolute;
      right: 3px;
      top: 0;
      height: 100%;
      font-size: 1em;

      > span {
        margin-left: 1px;
        color: #455A64;
      }

      > span.delete {
        color: #900000;
      }
    }

    > .content {
      margin-left: 20px;
    }

    &:not(:last-child)::after {
      content: '';
      background: url("/assets/images/lines.png") no-repeat 0 0;
      background-position: -107px 0;
      width: 2px;
      display: inline-block;
      height: 30px;
      position: absolute;
      left: 50%;
      bottom: -30px;
    }

    &:not(:last-child):not(:first-child) {
      margin: 10px 0;
    }

    &:first-child {
      margin: 0 0 10px;
    }

    &:last-child {
      margin: 10px 0 0;
    }

    &.active {
      background: #eeeeee;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }

    &.invalid {
      &::before {
        display: inline-block;
        content: '\f071';
        font-family: FontAwesome;
        color: #b36e19;
        position: absolute;
        width: 20px;
        right: -25px;
      }
    }
  }
}
