<ul class="plugin-item-container" [hidden]="plugins.length == 0">
    <li *ngFor="let plugin of plugins" [ngClass]="{active: plugin?.active, invalid: !plugin?.valid}" (click)="selectPluginInPipe(plugin)">
        <div class="content">
            {{plugin.order}}: {{plugin.name | capitalize}}
        </div>
        <div class="button-group">
            <span class='down' [hidden]='isFirst(plugin)' (click)='pluginDown(plugin)'>             
                                    <i class="fa fa fa-arrow-circle-up"></i>              
                                </span>
            <span class='up' [hidden]='isLast(plugin)' (click)='pluginUp(plugin)'>            
                                    <i class="fa fa fa-arrow-circle-down"></i>               
                                </span>
            <span class='delete' (click)='pluginDelete(plugin)'>
                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                 </span>
        </div>
    </li>
</ul>
