<div class='entry__indicator' [class.up]='up'>
    <div #d *ngIf="type=='healthy'" class='entry__indicator-marker entry__indicator-marker--green'>
        <button class="button--icon indicator-button" [@iconState]="state" (click)='onClick.emit($event)'> 
              <svg height="20px" id="Layer_1" style="enable-background:new 0 0 512 512;" 
                version="1.1" viewBox="0 0 512 512" 
                width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M402 311c0-5-2-9-5-13l-128-128c-4-4-8-5-13-5-5 0-9 1-13 5l-128 128c-3 4-5 8-5 13 0 5 2 9 5 13 4 3 8 5 13 5l256 0c5 0 9-2 13-5 3-4 5-8 5-13z"/>
              </svg>
        </button>
    </div>
    <div *ngIf="type=='error'" class='entry__indicator-marker entry__indicator-marker--red'>
        <button class="button--icon indicator-button" [@iconState]="state" (click)='onClick.emit($event)'> 
              <svg height="20px" id="Layer_1" style="enable-background:new 0 0 512 512;" 
                version="1.1" viewBox="0 0 512 512" 
                width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M402 311c0-5-2-9-5-13l-128-128c-4-4-8-5-13-5-5 0-9 1-13 5l-128 128c-3 4-5 8-5 13 0 5 2 9 5 13 4 3 8 5 13 5l256 0c5 0 9-2 13-5 3-4 5-8 5-13z"/>
              </svg>
        </button>
    </div>
    <div *ngIf="type=='disabled'" class='entry__indicator-marker entry__indicator-marker--grey'>
        <button class="button--icon indicator-button" [@iconState]="state" (click)='onClick.emit($event)'> 
              <svg height="20px" id="Layer_1" style="enable-background:new 0 0 512 512;" 
                version="1.1" viewBox="0 0 512 512" 
                width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M402 311c0-5-2-9-5-13l-128-128c-4-4-8-5-13-5-5 0-9 1-13 5l-128 128c-3 4-5 8-5 13 0 5 2 9 5 13 4 3 8 5 13 5l256 0c5 0 9-2 13-5 3-4 5-8 5-13z"/>
              </svg>
        </button>
    </div>
    <div *ngIf="type=='blank'" class='entry__indicator-marker entry__indicator-marker--grey'>
        <i class='icon-android-radio-button-off' title='No services used'></i>
    </div>
</div>