<div #panel class="__panel" [class.expanded]="expand" [class.error]='configO?.errors.length > 0' (clickedOut)='close()' [ignoreSelector]="['ngb-modal-window']">
    <div class="__header" [@headerCollapse]="state">
        <ng-content select="[header-content]"></ng-content>
    </div>
    <div #detailsContainer class="__details" [@detailsCollapse]="state" [ngClass]="{disabled:!configO.active}">
        <div class="__content" *ngIf='configO.active;else disabledContent' >
            <div style='width:1px;height:100px;'></div>
            <loader [active]='loading' [delay]='300'></loader>
            <div *ngIf='expand' class='entry__status __healthblocks'>
                <div class='entry__status-card entry__status-card--health __health' [ngClass]='status.message'>
                    <!-- <span class='icon-record'></span> -->
                    <span>{{status.message}}</span>
                </div>
                <div class='entry__status-card entry__status-card--average __average'>                    
                    <span>{{average}}</span>
                </div> 
            </div>
            <div *ngIf='expand' class='entry__status-card entry__status-card--loadchart __graph' style='display: flex'>                    
                <canvas baseChart 
                    [datasets]="loadChartData"                  
                    [labels]="loadChartLabels"
                    [colors]="lineChartColors"
                    [options]="loadChartOptions"
                    [legend]="loadChartLegend"
                    [chartType]="loadChartType">
                </canvas>                 
            </div>
            <div *ngIf='expand' class='entry__status-card entry__status-card--loadchart __statuses' [class.toggled]='!showStatuses'>    
                <button class='button--icon indicator-button __toggleStatusesButton' [ngClass]="{'right':showStatuses, 'left':!showStatuses}" (click)="showStatuses = !showStatuses">
                    <svg _ngcontent-c5="" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" height="20px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="20px" xmlns="http://www.w3.org/2000/svg">
                        <path _ngcontent-c5="" d="M402 311c0-5-2-9-5-13l-128-128c-4-4-8-5-13-5-5 0-9 1-13 5l-128 128c-3 4-5 8-5 13 0 5 2 9 5 13 4 3 8 5 13 5l256 0c5 0 9-2 13-5 3-4 5-8 5-13z"></path>
                    </svg>    
                </button>                    
                <canvas baseChart 
                    [data]="statusesChartData"
                    [labels]="statusesChartLabels"
                    [options]="statusesChartOptions"
                    [chartType]="statusesChartType"
                    [colors]="statusesChartColors">
                </canvas>                                
            </div>
        </div>
        <ng-template #disabledContent>
            <div class="__content" style='text-align:center;padding:25px'>
                <h3> Entry is disabled, Traffic is off...</h3>
            </div>
        </ng-template>
    </div>
</div>