.__panel {
  margin-top: 0;
  margin-bottom: 0;
  transition: all .2s ease 200ms;

  &.expanded {
    @media screen and (min-width:767px) {
      margin-top: .625rem;
      margin-bottom: .625rem;
      transition: all .2s ease 200ms;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.15), 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    }
  }

  .__details {
    overflow: hidden;
    height: 210px;
    background-color: white;
    transition: height .2s ease;
    @media screen and (max-height:600px) {
      height: 140px;
    }
    @media screen and (max-height:800px) {
      height: 180px;
    }

    &.disabled {
      height: 75px;
    }

    .__content {
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      transition: all .2s ease 200ms;
      padding: 10px;
    }

    .__healthblocks {
      justify-content: space-between;
      flex: 0 0 120px;
    }

    .__graph {

      position: relative;
      flex: 1;
      margin: 0 0 0 .325rem;
      padding: .325rem;
    }

    .__statuses {
      position: relative;
      flex: 0 1 30px;
      margin-left: .325rem;
      flex: 0 1 21%;
      min-width: 0!important;
      padding-left: 20px;

      &.toggled {
        flex: 0 1 20px;
      }
    }

    .__health {
      flex: 0 1 49%;
      position: relative;
      color: #ea392b;

      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
        height: 100%;
        content: "";
        background-color: #ea392b;
      }

      &.healthy {

        text-transform: uppercase;
        color: #27a93e;

        &:before {
          background-color: #27a93e;
        }
      }

      &.disabled {
        color: #555;
        background: #fafafa;

        &:before {
          background-color: transparent;
        }
      }
    }

    .__average {
      flex: 0 1 49%;
    }
  }

  .__header {
    background-color: white;
  }

  .__toggleStatusesButton {
    transform-origin: 50% 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    padding: 0;
    line-height: 0;
    transition: all .3s linear;

    > svg {
      fill: #a6b0b7;
    }

    &:hover {
      > svg {
        fill: #959da2;
      }
    }

    &.right {
      transform: rotate(90deg);
      display: inline-block;
    }

    &.left {
      transform: rotate(-90deg);
      display: inline-block;
    }
  }
}
