.__entry-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  > loc-switch {
    margin: auto;
  }

  > label {
    color: #555;
  }
}

.__entry-link {
  text-align: left;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}
