<div class="l-entries" flexy [bottom]='50' *locAuthOnly>
    <div class="l__page-header">
        <span class="title">Entries</span>
    </div>
    <div class='l__page-body'>
        <div class="entries">          
            <div class="entries__table">
                <div class='entries__header' [@initial]="state">
                    <div class="entries__header-search">
                        <div class="input__search">
                            <input #searchInput placeholder='Filter by name' [formControl]="searchControl" [ngModel]='searchParams.name'>
                            <div class='hightlite-underline'>
                                <span class="hightlite-bar"></span>
                            </div>
                            <i class="icon-search"></i>
                        </div>
                    </div>
                    <div class="entries__header-operations">
                        <button title="Restore config" class='entries__header-item' (click)='showMenu=!showMenu'>                        
                        <i class="icon-android-menu" aria-hidden="true"></i>                        
                    </button>
                    </div>
                </div>
                <div class='entries__config-menu' [ngClass]='{"shown": showMenu }'>
                    <input #uploadEl type="file" name="config" id="config" ng2FileSelect [uploader]="uploader" class="entries__config-input">
                    <label for="config" class='button button--borderless entries__config-button entries__config-button--upload'>
                    <i class="icon-arrow-down-circle" aria-hidden="true"></i> Import
                </label>
                    <button title="Export" class='button button--borderless entries__config-button' (click)='onExportClick()'>  
                    <i class="icon-link-external" aria-hidden="true"></i> Export
                </button>
                    <button title="Add new" class='button button--borderless entries__config-button' (click)='onAddClick()'>  
                  <i class="icon-android-add-circle" aria-hidden="true"></i> Add New
                </button>
                </div>
                <div class="entries__table" [style.minHeight.px]='!initialComplete || configs?.length == 0 ? 150: 0'>
                    <loader [active]='loading' [delay]='300' [overlay]='configs?.length > 0'></loader>
                    <div class="entries__table-container">
                        <entries-details #details *ngFor='let config of configs; let c = count;' [configO]='config'>
                            <div header-content class='entry'>
                                <div class='m__table-row'>
                                    <div class="m__table-cell auto">
                                        <entry-indicator [type]='config.type' [up]='details.expand' (onClick)='details.toggle();'></entry-indicator>
                                    </div>
                                    <!--Name cell-->
                                    <div class="m__table-cell hidden-sm-down">
                                        <span class='entry__description'>{{ config.name }}</span>
                                    </div>
                                    <!--Etry path cell-->
                                    <div class="m__table-cell" style="flex: 2 0 auto;">
                                        <a class="__entry-link" [routerLink]="['./master', {t:'general'}]" [queryParams]='{ id: config.id }' [title]='config.entry'>
                                        ~{{ config.entry }}
                                    </a>
                                    </div>
                                    <!--Groups being applied to the entry (TBD)-->
                                    <div class="m__table-cell auto hidden-sm-down">
                                        <a [routerLink]="['./master', {t:'routes'}]" [queryParams]='{ id: config.id }' *ngIf='config.active' class="m-badge m-badge--info"
                                            [title]='getRulesPath(config)'>{{ getRulesCount(config) }}</a>
                                        <span *ngIf='!config.active' class="m-badge m-badge--default" title='Disabled'>D</span>
                                    </div>
                                    <div class="m__table-cell auto">
                                        <div class="entry__actions">
                                            <ng-template #sidebarTmpl>
                                                <div class="m-sidebar__header">
                                                    <a style="color:inherit; margin: auto;" [routerLink]="['./master', { t:'genegal'}]" [queryParams]='{ id: config.id }' (click)="setActive(false)"
                                                        class="m-header__name">
                                                    {{ config.name }}
                                                </a>
                                                </div>
                                                <ul class="m-sidebar__menu m-sidebar__menu--edit-entry">
                                                    <li><a class="m-sidebar__menu-item" (click)="editApi(config); sidebarMore.close();"><i class="icon-android-create"></i>Edit entry</a></li>
                                                    <li><a class="m-sidebar__menu-item" (click)="onClone(config); sidebarMore.close();"><i class="icon-clone"></i>Clone entry</a></li>
                                                    <li><a class="m-sidebar__menu-item m-sidebar__menu-item--remove" (click)="onRemove(config); sidebarMore.close();"><i class="icon-delete-garbage-streamline"></i>Remove entry</a></li>
                                                </ul>
                                                <div class="m-sidebar__content">
                                                    <div class='__entry-sidebar'>
                                                        <label (click)='activate.toggleValue()'>{{config.active ? 'Disable': 'Enable'}} entry</label>
                                                        <loc-switch #activate [value]='config.active' [disabled]='loading' (change)='toggleActive(config, $event); config.active = $event'
                                                            [disabled]='config.errors && config.errors.length > 0'>
                                                        </loc-switch>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <button class="entry__actions-item" (click)="sidebarMore.open($event, sidebarTmpl)">                                          
                                            <span class="icon-android-more-vertical"></span>
                                        </button>
                                        </div>
                                    </div>
                                    <!--End actions cell-->
                                </div>
                            </div>
                        </entries-details>
                    </div>
                    <!--End api table-->
                    <h3 *ngIf='configs.length == 0 && !loading'>No entry points</h3>
                </div>
                <div class='entries__footer' [class.hidden]='count <= maxItems || !initialComplete'>
                    <loc-paging-bar [firstLast]="false" [pageSizeAll]="false" [pageSize]="maxItems" [total]="count"></loc-paging-bar>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #importPreview let-c="close" let-d="dismiss">
    <div class="l-entries__import">
        <header class="l-entries__import-header">
            <h1>Restore</h1>
        </header>
        <div class="row l-entries__import-body">
            <section class="l-entries__import-form l-entries__import-form--routes">
                <div class='col-sm-12'>
                    <header class='l-entries__import-commands'>
                        <button title="Export" class='button button--borderless l-entries__import-button' (click)='selectAll()'>  
                            <i class="icon-checkmark-circled" aria-hidden="true"></i> Select all
                        </button>
                    </header>
                    <ul class="l-entries__import-route-list">
                        <li *ngFor="let route of importData.routes" [class.selected]="route.active" (click)='route.active=!route.active'>
                            <span>{{route.name}}</span>
                            <loc-switch class='health__switch' [(ngModel)]='route.active' [type]="'rectangle'" style='margin: auto 0;'></loc-switch>
                        </li>
                    </ul>
                    <span *ngIf="importData.routes.length === 0">No routes available</span>
                    <footer *ngIf="importData.routes.length > 0">
                        <span class="route-count"><strong>{{importData.routes.length}}</strong> {{importData.routes.length == 1 ? 'item' : 'items'}} left</span>
                    </footer>
                </div>
            </section>
        </div>
        <footer class="l-entries__import-footer">
            <button type="button" class="button button--primary" [disabled]='isDisabledModalImportInsertButton()' (click)="insertSelected(importData);"
                style='flex: 0 1 auto;'>Insert</button>
            <button type="button" class="button button--primary" (click)="d()" style='flex: 0 1 auto;'>Cancel</button>
        </footer>
    </div>
</ng-template>

<loc-side-bar #sidebarMore='locSidebar' position='right'></loc-side-bar>
<ng-template ngbModalContainer></ng-template>