<div class="l-wizard">
    <div class="l__page-header">
        <span class="title"><a routerLink='/entries'>Entries</a> / wizard</span>
    </div>
    <section class="l__page-body">
        <ui-tabs #tab (save)='onDone()'>
            <ui-pane id='general' title='Config' [valid]='(stepGeneral.validation | async)'>
                <step-general #stepGeneral (next)="tab.goTo($event)" (save)='onDone()' [submitted]='submitted'> </step-general>
            </ui-pane>
            <ui-pane id='plugins' title='Routes' [valid]='(stepPlugins.validation | async)'>
                <step-plugins #stepPlugins (next)="tab.goTo($event)" (save)='onDone()' [submitted]='submitted'></step-plugins>
            </ui-pane>           
            <ui-pane id='healthcheck' title='Health' [valid]='true'>
                <step-healthcheck (next)="tab.goTo($event)" (save)="onDone()"></step-healthcheck>
            </ui-pane>
            <ui-pane id='preview' title='Test' [valid]='true'>
                <step-preview (next)="tab.goTo($event)" (save)='onDone()'></step-preview>
            </ui-pane>
        </ui-tabs>
    </section>
    <ng-template ngbModalContainer></ng-template>
</div>