.m-badge {
  @extend .badge;
  border-radius: 1px;
  min-width: 19px;

  @include modifier ('default') {
    @extend .badge-default;
    background-color: $light-grey;
  }

  @include modifier ('info') {
    @extend .badge-default;
    background-color: $light-blue;

    &:hover {
      background-color: $blue!important;
    }
  }
}
