.m-form {
  &__control {
    @extend .form-control;
  }

  &__group {
    @extend .form-group;
    margin: 1.3rem 0;

    > label {
      margin-bottom: .2rem !important;
    }
  }
}

.input {
  &__switch {
    cursor: pointer;
    display: inline-block;
    padding-left: 8px;
    border: none;
    border: none;
    background: transparent;

    > .switch-container {
      width: 35px;
      height: 18px;
      position: relative;
      border-radius: 30px;
      background: $light-grey;
      transition: .2s ease;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 55%;
        transform: translate(0%, -50%);
        width: 22px;
        height: 22px;
        background: $white;
        border-radius: 28px;
        display: inline-block;
        transition: box-shadow .15s ease, right .2s ease;
        box-shadow: 0 0 3px $light-grey;
      }
    }

    &.disabled {
      cursor: initial;

      > .switch-container {
        filter: grayscale(100%);
      }
    }

    &.on {
      > .switch-container {
        background: $green;

        &:before {
          right: -13%;
        }
      }
    }

    &.rectangle {
      > .switch-container {
        height: 16px;
        border-radius: 2px;
        width: 25px;
        height: 16px;
        position: relative;
        border-radius: 2px;
        transition: .2s ease-out;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          width: 12px;
          height: 15px;
          border-radius: 1px;
          background: #ffffff;
          display: inline-block;
          transition: box-shadow .15s ease, right .2s ease;
          box-shadow: 0 0 2px $light-grey;
          right: 51%;
          //    transform: translate(1.5px, -50%);
        }
      }

      &.on {
        > .switch-container {
          &:before {
            right: 2%;
            //  transform: translate(-3px, -50%);            
          }
        }
      }
    }
  }

  &__search {
    position: relative;
    display: inline-block;
    background: transparent;

    input {
      font-size: 16px;
      display: block;
      width: 100%;
      border: none;
      background: transparent;
      padding: 0 0 4px !important;

      &::-webkit-input-placeholder {
        color: #ccc;
      }
    }

    input:focus {
      outline: none;
    }

    .hightlite-underline {
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: lighten($light-blue, 5%);
      opacity: .9;
    }

    .hightlite-bar {
      position: relative;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #d0dce7;
      transition: .2s ease all;
      -moz-transition: .2s ease all;
      -webkit-transition: .2s ease all;
    }

    input:focus ~ .hightlite-underline > .hightlite-bar {
      background-color: $light-blue;
      height: 1px;
      opacity: 1;
    }

    input:focus ~ i {
      opacity: 1;
      color: $light-blue;
    }

    .hightlite-underline,
    i {
      transition: .2s all linear;
    }

    i {
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: .9;
      color: #d0dce7;
      font-size: 1.1rem;
    }
  }
  /*
Usage: 
<span class="btn btn-default btn-file">
  Browse <input type="file">
</span>

<span class="button--icon input-file">
  <span class="icon-upload"></span> <input type="file">
</span>

*/
  &__file {
    position: relative;
    overflow: hidden;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
  }
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

ul.pagination li a.active {
  background-color: #4CAF50;
  color: white;
}

ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}
