.m-header {
  &__navbar {
    @extend .navbar;
    @extend .navbar-light;

    background: $blue;
    flex-direction: row;

    &:after {
      content: '';
      position: absolute;
      height: 40px;
      width: 100%;
      background: $light-blue;
      top: 100%;
      left: 0;
    }

    &.splitted {
      @media screen and (min-width: $grid-md) {
        padding-left: calc(280px + .625rem);
        transition: padding .25s cubic-bezier(0.4,0.0,0.2,1);
      }
    }

    transition: padding .25s cubic-bezier(0.4,0.0,0.2,1);
  }
  @include element(toggle) {
     @extend .button--icon;
    margin-right: 20px;
    color: $white;

    > span {
      transform: translateY(5px);
      display: inline-block;
    }
  }
  @include element(brand) {
     @extend .navbar-brand;
    padding-top: .3em;
    color: $white!important;
    @media screen and (max-width: $grid-md) {}
  }
  @include element(menu) {
     @extend .nav;
    @extend .navbar-nav;

    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
    flex: 1.5;
    padding-bottom: 12px;
    padding-top: 16px;
    padding-left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px !important;

    margin-left: auto;

    &-toggle {
      @extend .button--icon;
      font-size: 1.4rem;
      color: $white;

      &:after {
        margin-top: .2rem;
        margin-left: 3px;
        content: 'v';
        position: absolute;
        display: inline-block;
        font-family: "loc" !important;
        color: $white;
        border: none;
        font-size: 1rem;
      }
    }

  }
  @include element(dropdown) {
    text-align: left;
    z-index: 1;
    display: none;

    &.active {
      display: block;
    }

    &-title {
      margin-bottom: 20px;
      display: block;
      color: darken($light-grey, 20%);
      text-align: center;

    }

    &-actions {
      padding: 15px;

      &-item {
        display: block;
        cursor: pointer;
        padding-left: 45px;
        position: relative;
        margin-bottom: 20px;
        transition: color .15s ease-out;
        text-decoration: none;

        &:after {
          content: "";
          position: absolute;
          bottom: -10px;
          right: 0;
          left: 45px;
          height: 1px;
          background: lighten($light-grey,5%);
        }

        &:last-child {
          margin-bottom: 0;

          &:after {
            content: none;
          }
        }

        &:hover {
          .m-header__dropdown {
            &--icon {
              background: $blue;
            }

            &--text {
              color: $blue;
            }
          }
        }

        .m-header__dropdown {
          &-icon {
            width: 33px;
            height: 33px;
            background: #d0dce7;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 33px;
            text-align: center;
            display: flex;
            align-items: center;
            color: $white;
            font-size: 1.8rem;
            transition: .15s ease-out;

            &:before {
              flex: 1;
            }
          }

          &-text {
            padding: 6px 0;
            display: block;
            font-weight: 600;
            color: darken($light-grey, 40%);
            transition: .15s ease-out;
          }
        }
      }
    }
  }
}
@media screen and (min-width: $grid-md) {
  .m-header {
    &__dropdown {
      background: #f5f8f9;
      border: 1px solid #dee1e4;
      border-top: 0;
      position: absolute;
      right: 5px;
      top: 60px;
    }
  }
}
@media screen and (max-width: $grid-md) {
  .m-header {
    &__dropdown {
      background: #ffffff;
      transition: .2s ease-out;
      position: relative;
      width: 100%;

      &.active {
        display: block;
        background: white;
        width: 100%;
        height: 100%;
        margin-top: 40px;
      }

      &:after {
        content: '';
        position: absolute;
        height: 40px;
        width: 100%;
        background: $light-blue;
        left: 0;
      }

      &-title {
        position: absolute;
        top: -32px;
        right: $p;
        color: white;
        margin: 0;
      }
    }
  }
}
