.plugin-modal {
  @extend %l-modal;
  @media screen and (min-width: $grid-md) {
    display: flex;
    flex-direction: row;
    overflow: hidden!important;

    .modal-dialog {
      transform: translate(0, calc(50% - 200px))!important;
      flex: 0 1 auto;
      height: 100%;
      width: 400px!important;
      max-width: 100%;
      margin: 0 auto !important;
    }
  }
}

.plugin-modal2 {
  @extend %l-modal;

  .modal-dialog {
    width: 50%!important;
    height: calc(100% - 90px);
    transform: translateY(45px)!important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    min-width: $grid-md;
    position: relative;
    @media screen and (max-width: $grid-md) {
      width: 100% !important;
      transform: translateY(0)!important;
      height: 100%;
      min-width: auto;
    }
  }

  .modal-body {
    padding: 0 !important;
  }

  .modal-content {
    height: 100%;
    display: flex;
    overflow: auto;
    position: static!important;
  }
}

.test-results-modal {
  @extend %l-modal;

  .modal-dialog {
    height: calc(100% - 90px);
  }

  .modal-content {
    height: 100%;
    display: flex;
  }
}

.import-modal {
  @extend %l-modal;

  .modal-dialog {
    width: 50%!important;
    height: calc(100% - 90px);
    transform: translateY(45px)!important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    min-width: $grid-md;
    position: relative;
    @media screen and (max-width: $grid-md) {
      width: 100% !important;
      transform: translateY(0)!important;
      height: 100%;
      min-width: auto;
    }
  }

  .modal-content {
    height: 100%;
    display: flex;
    overflow: auto;
    position: static!important;
  }
}

.auth-modal {
  @extend %l-modal;
  @media screen and (min-width: $grid-md) {

    display: flex;
    flex-direction: row;
    overflow: hidden!important;

    .modal-dialog {
      transform: translate(0, calc(50% - 200px))!important;
      flex: 0 1 auto;
      height: 100%;
      width: 400px!important;
      max-width: 100%;
      margin: 0 auto !important;
    }
  }
}
