.m-sidebar {
  position: fixed;
  transform: translateX(-280px);
  transition: transform .25s cubic-bezier(0.4,0.0,0.2,1),opacity .25s linear;
  width: 280px;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  box-shadow: 0 0 4px rgba(0,0,0,.28);
  bottom: 0;
  color: #000;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 990;

  &__brand {
    padding: $p;
    text-align: center;
    flex: 0 1 auto;
    margin-top: $p;
  }

  @include element ('menu') {
    @extend .list-group;
    padding: $p;
    flex: 0 1 auto;

    > * {
      list-style: none;
      margin-bottom: $p;
    }
  }

  @include element ('menu-item') {
    @extend .list-group-item;
    color: $text-grey!important;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: .2s color ease;

    &.active {
      color: white!important;

      &:hover {
        color: darken(white,5%)!important;
      }
    }

    &:hover {
      color: darken($text-grey,30%)!important;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }

    i,
    span {
      font-size: 1.2em;
      margin-right: 1.2rem;
      color: inherit;
    }

    i {
      transform: translateY(2px);
      display: inline-block;
    }

    @include modifier ('remove') {
      &:hover {
        color: $red!important;
      }
    }

  }

  @include element ('content') {
    padding: $p;
    overflow: auto;
  }

  @include element ('header') {
    padding: 30px 10px 30px 20px;
    background: $blue;
    border: 0;
    color: white;
    font-size: 1.2rem;
    height: 97px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }

  &.right {
    left: auto;
    right: 0;
    transform: translateX(100%);
  }
}
