<div class="__item_body">
    <div class="__item_body-title">
        <span>
            <a [routerLink]='["details", { id: item._id }]'>{{item?.target || "Target not defined"}}</a>
        </span>
    </div>
    <div class="__item_body-trash">
        <button class="button button--icon" (click)="onDelete.emit(item._id)">
            <i class="icon-trash-o"></i>
        </button>
    </div>
</div>