<div class="l-healthchceck" flexy [bottom]='50' *locAuthOnly>
    <div class="l__page-header">
        <span class="title">Entries</span>
    </div>
    <div class='l__page-body'>
        <div class="healthcheck">
            <healthcheck-list-item #details *ngFor='let hc of healthChecks; let c = count;' [item]='hc' (onDelete)="removeItem($event)">
            </healthcheck-list-item>
        </div>
    </div>
    <div>
        <button class="button button--primary" (click)="onCreateNewHealthCheck($event)">Create</button>
    </div>
</div>