.__item_body {
    position: relative;
    padding: 10px 10px 10px 35px;
  display: flex;

    &-title{
        flex: 1;
    }
    &-trash {
        flex: 0 1 auto;
        margin: 0 auto;
    } 
  
  }
  