.my-steps {
  padding: 0;
  float: right;
  width: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  @media (max-width: 47.9em) {
    float: none;
    flex-direction: row;
    height: auto;
  }

  li {
    list-style: none;
    background: #fff;
    box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #e0e0e0;
    color: rgba(69, 90, 100, 0.7);
    height: 80px;
    margin: 0 0 7px;
    padding-top: 17px;
    text-align: center;
    cursor: pointer;
    @media (max-width: 47.9em) {
      display: inline-block;
      margin: 0;
      width: 33.333333%;
    }
    text-decoration: none;
    width: 80px;
    position: relative;

    &:last-of-type::after {
      display: none;
    }
  }

  > li > span {
    display: block;
  }

  > li > i {
    font-size: 1.5rem;

    &::before {
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
    }
  }
  /*tab's images*/
  > li.general > i::before {
    content: '\f013';
  }

  > li.plugins > i::before {
    content: '\f1e0';
  }

  > li.preview > i::before {
    content: '\f00c';
  }

  > li.healthcheck > i::before {
    content: '\59';
    font-family: "loc"!important;
  }

  > li.docs > i::before {
    content: '\30';
    font-family: "loc"!important;
  }

  > li.save > i::before {
    content: "\5a";
    font-family: "loc"!important;
  }

  > li.save {
    margin-top: auto;
    margin-bottom: 59px;
    background: #27a93e;
    color: white;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    justify-content: center;

    &.disabled {
      background: #a6b0b7;
      cursor: not-allowed;
    }
  }

  > li.active {
    color: #555;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      content: "";
      background-color: #d26911;
      @media (max-width: 47.9em) {
        width: 100%;
        height: 2px;
        top: auto;
      }
    }
  }

  > li.invalid.visited {
    color: #900000!important;
  }

  span {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  @media screen and (max-width:767px) {
    margin-bottom: 10px;
  }
}
