<div class="md-input-group" [class.is-disable]="disabled" [class.invalid]='hasError' [class.imagable]='imagable'>
    <label class='placeholder-label has-value' [class.disabled]='disabled'>{{ label }}</label>
    <div ace-editor [text]="value" [mode]="'json'" [theme]="'eclipse'" [options]="aceOptions" [readOnly]="false" [autoUpdateContent]="true"
        (textChanged)="change.emit($event)" style="min-height:100%; margin-top: 5px;">
    </div>   
</div>
<ng-content></ng-content>