:host{
  display: flex;
  flex-direction: column;
  width:100%; 
}

.md-input-group {
  position: relative;
  margin-top: 28px;
}

/* LABEL ======================================= */
.placeholder-label {
  color: #a8b8c4;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  top: -18px;
  margin: 0;
  &.disabled {
    color: #999;
  }
}
