<div class="l-step">
    <div class="l-step__card">
        <div class='l-step__header'>
            <h2>General details</h2>
            <button class='button button--icon help'>
                <i class="icon-help-circled"></i>
            </button>
        </div>
        <loader [active]='loading'></loader>
        <div class="row">
            <div class="col-md-10 col-lg-8 col-sm-12">
                <form [formGroup]="form" class="form-horizontal">                   
                    <div class='m-form__group'>
                        <loc-input-text type="text" label="Name" [(ngModel)]='apiConfig.name' placeholder="Name" formControlName="name" required>
                        </loc-input-text>
                        <show-error *ngIf="submitted" [control]="form.get('name')" [options]="{'required': 'Name field is required'}"></show-error>
                    </div>
                    <div class='m-form__group'>
                        <loc-input-text type="text" label="Url" [(ngModel)]='apiConfig.entry' placeholder="Url" formControlName="entry" required>
                        </loc-input-text>
                        <show-error *ngIf="submitted" [control]="form.get('entry')" [options]="{'required': 'Entry field is required', 'startWith': 'Should start with /'}"></show-error>
                    </div>
                    <div class='m-form__group'>
                        <loc-input-textArea label="Description" [(ngModel)]='apiConfig.description' placeholder="Description" formControlName="description">
                        </loc-input-textArea>
                    </div>                  
                </form>
            </div>
        </div>
    </div>
    <div class='l-steps__buttons'>
        <button type="button" (click)="onSubmit()" class="button button--primary l-master__next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>  Next         
        </button>
        <button type="button" (click)="onSave()" class="button button--primary l-master__next">
            <i class="icon-floppy-o" aria-hidden="true"></i>  Save
        </button>
    </div>

</div>