<div #panel class="__panel">   
    <div #ruleFormContainer class="__details" >
        <form [formGroup]='healthRuleForm' class='health__form' role='form'>
            <div class="row">
                <div class="form-group col-xs-3 col-md-3">
                    <loc-select [items]="['GET','HEAD']" label='Method' formControlName="method" id="method" [(ngModel)]='healthCheckRule.method'
                        required>
                    </loc-select>
                </div>
                <div class="form-group col-xs-9 col-md-9">
                    <loc-input-text label='Target' formControlName="target" [(ngModel)]='healthCheckRule.target' id='target' required validateUrl>
                    </loc-input-text>

                    <show-error *ngIf="healthRuleForm.dirty" [control]="healthRuleForm.get('target')" [options]="{'required': 'Field is required', 'validateUrl': 'Wrong url format'}">
                    </show-error>
                </div>
                <div class="form-group col-xs-6 col-md-6">
                    <loc-input-text label="Timeout" formControlName="interval" [(ngModel)]='healthCheckRule.interval' id='interval' type="number" required>
                    </loc-input-text>
                    <show-error *ngIf="healthRuleForm.dirty" [control]="healthRuleForm.get('interval')" [options]="{'required': 'Field is required'}">
                    </show-error>
                </div>
                <div class="form-group col-xs-6 col-md-6">
                    <loc-input-text label='Path' formControlName="withPath" [(ngModel)]='healthCheckRule.withPath' id='withPath' required>
                    </loc-input-text>
                    <show-error *ngIf="healthRuleForm.dirty" [control]="healthRuleForm.get('withPath')" [options]="{'required': 'Field is required'}">
                    </show-error>
                </div>
            </div>
        </form>
    </div>
    <button class="button button--primary" (click)="onSave($event)"> Save</button>  
</div>