.health {
    &__form {
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 10px;
    }
  }
  
  .__panel {
    border: 1px dotted #e8e8e8;
    margin-bottom: 15px;  
  
  }
  
  .__header {
    position: relative;
    padding: 10px 10px 10px 35px;
  
   
  }
  