.__alert {
  height: 50px;
  margin: 0;
  padding: 13px 30px;
  color: white;
  text-align: center;

  a {
    border: 1px solid;
    border-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 10px;
    padding: 1px;
    font-size: 0.8rem;
    padding-top: 4px;
  }

  span {
    font-size: 1.2em;
  }

  &-error {
    background-color: #f2374d;
  }

  &-warning {
    background-color: yellow;
  }

  &-success {
    background-color: green;
  }

  &.fixed {
    margin: 0 !important;
  }

  &.small {
    display: flex;
    align-items: center;
    padding: 0 !important;
    font-size: 1em;
  }
}

:host /deep/ div.cz--alert.small {
  a {
    flex: 1 0 25px;
    flex-grow: initial;
    margin: 13px 15px 12px;
  }

  span {
    font-size: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    flex: 1 1 calc(100% - 25px);
    display: block;
    text-align: left;
    margin-right: 5px;
  }

}
