<div class="l-step">
    <div class="l-step__card">
        <div class='l-step__header'>
            <h2>Healthcheck settings</h2>
            <button class='button button--icon help'>
                <i class="icon-help-circled"></i>
            </button>
        </div>
        <loader [active]='loading'></loader>
        <div class="row">
            <div class="col-sm-9 health">
                <healthcheck-rule *ngFor='let rule of healthcheck' [healthCheckRule]='rule' (change)='onChange($event)' (remove)='onRemoveRule($event)'></healthcheck-rule>
                <button class='button button--secondary' (click)='onAddNew()'>
                     Add 
                </button>
            </div>
            <div class='col-sm-3'>
                <div class='row'>
                    <div class="col-sm-12" style='position: relative;'>
                        <form [formGroup]='healthForm' class='health__form' role='form'>
                            <div class="form-group">
                                <span>Active</span>
                                <loc-switch class='health__switch' [(ngModel)]='active' formControlName="active">
                                </loc-switch>
                            </div>
                            <div class="form-group">
                                <div class='m-form__group'>
                                    <loc-input-text type="number" label="Interval" formControlName="interval" [(ngModel)]='interval' id='interval' type="number"
                                        required>
                                    </loc-input-text>
                                    <show-error *ngIf="healthForm.dirty" [control]="healthForm.get('interval')" [options]="{'required': 'Field is required'}">
                                    </show-error>
                                </div>
                            </div>
                        </form>
                        <loader [active]='checking' [delay]='200'></loader>
                        <div class='health__checkresult' [ngClass]='{ok: healthcheckresult && healthcheckresult.healthy, nok: healthcheckresult && !healthcheckresult.healthy}'>{{ healthcheckresult?.healthy ? 'OK' : 'NOT HEALTHY' }}</div>
                        <button class='button button--secondary health__trynow' (click)='onTryNow()'>
                            Try now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='l-steps__buttons'>
        <button type="button" (click)="onSubmit()" class="button button--primary l-master__next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>  Next         
        </button>
        <button type="button" (click)="onSave()" class="button button--primary l-master__next">
        <i class="icon-floppy-o" aria-hidden="true"></i>  Save
    </button>
    </div>
</div>