:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.health {
  &__form {}

  &__switch {
    float: right;
    margin-right: 5px;
  }

  &__checkresult {
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
    display: none;

    &.ok {
      background: green;
      display: block; //
    }

    &.nok {
      background: red;
      display: block;
    }
  }

  &__trynow {
    width: 100%;
  }
}
