 .__panel {
    border: 1px dotted #e8e8e8;
    margin-bottom: 15px;
  
    &.expanded {
      border-color: #cccccc;
  
      .__details {
        padding-top: 20px;
      }
    }
  }
  
  .__header {
    position: relative;
    padding: 10px 10px 10px 35px;
  
    &__trash {
      right: 10px;
      position: absolute;
      top: 10px;
      font-size: 1.2rem;
    }
  
    &__indicator {
      position: absolute;
      top: 0;
      left: 10px;
      color: rgb(166, 176, 183);
      transform: rotate(0deg);
  
      > svg {
        fill: #a6b0b7;
      }
    }
  }
  