<div #panel class="__panel" [class.expanded]="state=='expanded'">
    <div class="__header" [@headerCollapse]="state">
        <button class="button--icon indicator-button __header__indicator" [@iconState]="state" (click)='toggle()'> 
                      <svg height="20px" id="Layer_1" style="enable-background:new 0 0 512 512;" 
                        version="1.1" viewBox="0 0 512 512" 
                        width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" 
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M402 311c0-5-2-9-5-13l-128-128c-4-4-8-5-13-5-5 0-9 1-13 5l-128 128c-3 4-5 8-5 13 0 5 2 9 5 13 4 3 8 5 13 5l256 0c5 0 9-2 13-5 3-4 5-8 5-13z"/>
                      </svg>
                </button>
        <a href (click)='toggle()'>{{title}}</a>
        <button class='button button--icon __header__trash' (click)='remove.emit(condition)'> 
                                        <span class="icon-delete-garbage-streamline red-on-hover"></span>
                                    </button>
    </div>
    <div #container class="__details" [@detailsCollapse]="state">
        <ng-content></ng-content>
    </div>
</div>