<div class="control-container">
    <div *ngFor="let option of options; let i = index">
        <div class='check-box' [class.active]="option.active" (click)="onCheck(i)">
            <i class="fa fa-circle __icon" *ngIf='option.active' aria-hidden="true" style='top: 11px;'></i>
            <i class="fa fa-circle-o __icon" *ngIf='!option.active' aria-hidden="true" style='top: 11px;'></i>
            <span class="text">{{option.description}}</span>
        </div>
    </div>
</div>