.control-container {
  display: flex;
  flex-wrap: wrap;
  color: #8a8a8a;

}

.control-container > div {
  flex: 1 0 25%;
  @media screen and (max-width: 767px) {
    flex: 1 0 50%;
    flex-wrap: wrap;
  }
}

.control-container .check-box {
  margin: 2px;
  padding: 8px;
  background: #ffffff;
  border: 1px dotted #cfd8dc;
  font-size: .9rem;
  font-weight: 400;
  transition: all .1s ease-in-out;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.__icon {
  position: absolute;
  left: .625rem;
}

.control-container .check-box.active {
  color: #555;
  border: 1px solid #cfd8dc;

  .__icon {
    color: #27a93e;
  }
}

.control-container .check-box span.content {
  padding: 0 5px;
}

.control-container .check-box span.text {
  padding: 0 8px;
}
