<ng-template #content let-c="close" let-d="dismiss">
    <div class="l-auth__container f-exclude"> 
        <loc-alert [error]='error' [success]='success' (close)='error=null'></loc-alert>
        <form class="l-auth__authform" #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
            <h2 class="l-auth__authform-heading">Login</h2>            
            <div class='m-form__group'>
                <loc-input-text type="text" label="Username" name="name" placeholder="Name" [(ngModel)]="name" required></loc-input-text>
            </div>
            <div class='m-form__group'>
                <loc-input-text type="password" label="Password" name="password" placeholder="Password" [(ngModel)]="password"
                    required>
                </loc-input-text>
            </div>
            <button type="submit" class="button button--primary" [disabled]="!loginForm.form.valid">Login</button>
        </form>
    </div>
</ng-template>