//@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
}

h1 {
  font-size: 2.074em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

.pointer,
a[href],
button,
input[type='image'],
input[type='submit'],
label[for],
select {
  cursor: pointer;
}

small {
  font-size: .833em;
}

body,
html {
  font-size: 1em;
  line-height: 1.42857143;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  color: $text-grey;
  background-color: #eceff1;
}

.padding-shrink-right {
  padding-right: 7px;
}

.padding-shrink-left {
  padding-left: 7px;
}
@media (max-width: 768px) {
  .padding-shrink-right {
    padding-right: 15px;
  }

  .padding-shrink-left {
    padding-left: 15px;
  }
}

.padding-shrink-right {
  padding-right: 4px;
}

.padding-shrink-left {
  padding-left: 4px;
}
@media (max-width: 47.9em) {
  .padding-shrink-right {
    padding-right: 15px;
  }

  .padding-shrink-left {
    padding-left: 15px;
  }
}

.table-controls {
  text-align: right;

  > button {
    padding: .1rem .6rem;
  }
}

.red-on-hover {
  &:hover {
    color: $red!important;
  }
}

.darken-on-hover {
  &:hover {
    color: darken($light-grey, 20%)!important;
  }
}

[class*=col-xs-] {
  position: relative;
  min-height: 1px;
  padding-right: 14px;
  padding-left: 14px;
  width: 100%;
}

.col-xs-48 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-form-group__set > * [class*=col-xs-] {
  padding-left: 7px;
  padding-right: 7px;
  background: #f5f5f5;
  margin-bottom: 1px;
}
