$white:        #ffffff;
$header-white: #fafafa;
$background:   #f5f8f9;

// Blue
$blue:            #007EE5;
$light-blue:      #3e98e2;
$dark-blue:       #0e4892;
$dark-blue-grey:  #455A64;
$light-blue-grey: #cfd8dc;

$dark-grey:    #333;
$light-grey:   #a6b0b7;
$grey:         #727e88;
$text-grey:    #555;
$cool-brown:     #757575;

$light-green-grey: #5d7a7b;

// Yellow
$yellow:       #f9c518;
$orange:       #f85c2c;

// Red
$red:          #ea392b;

// Green
//$green:        #2ecc71;
$green:        #27a93e;

$grid-xs: 0;
$grid-sm: 543px;
$grid-md: 767px;
$grid-lg: 991px;
$grid-xl: 1199px;
$grid-xxl: 1399px;

$p: .625rem;
$px1-4: .875rem;
$px2: 1.25rem;