<form [formGroup]='form' class='form-horizontal' role='form'>  
    <div *ngFor='let field of fields'>
        <div class="m-form__group">
            <div [ngSwitch]="field.type">               
                <loc-input-text 
                   *ngSwitchCase="'string'" 
                   [label]='field.label'
                   [formControlName]="field.key"
                   [(ngModel)]='formValue[field.key]' 
                   [id]='field.key'>
                </loc-input-text>
                <loc-select 
                   *ngSwitchCase="'select'"
                   [id]="field.key"
                   [items]="field.options" 
                   [(ngModel)]='formValue[field.key]'
                   [formControlName]="field.key"
                   textField='key' 
                   idField='value' 
                   [label]='field.label'>
                </loc-select> 
                <loc-input-ace 
                  *ngSwitchCase="'json'"                 
                  [label]='field.label'
                  [formControlName]="field.key"
                  [(ngModel)]='formValue[field.key]' 
                  [id]='field.key'>
                </loc-input-ace> 
                <show-error *ngIf="!form.untouched && form.controls[field.key].dirty && !form.controls[field.key].valid" 
                    [control]="form.get(field.key)" 
                    [options]="{'required': 'Field is required'}">
                </show-error>
            </div>
        </div>
    </div>
</form>
