<div class="proxy-form">
    <form [formGroup]='methodsForm' class='form-horizontal' role='form'>
        <div class="proxy-form__methods" [class.hidden]='rule?.base'>
            <toggleGroup [options]="options" formControlName="methods" [(ngModel)]="methods">
            </toggleGroup>
        </div>
    </form>
    <form [formGroup]='proxyForm' class='form-horizontal' role='form'>
        <div class="proxy-form__header">
            <h3 style='position: relative'>
                Proxy
                <i class="icon-help-circled" style='position: absolute;
                right: -18px;
                top: 0px;
                font-size: 15px;
                color: darkgrey;'></i>
            </h3>
            <span *ngIf='!rule?.base'>
                <label for='override-switch' (click)='override.toggleValue()'><small>{{ proxy.active ? "Override": "Use" }} parent config</small></label>
                <loc-switch #override id='override-switch' class='health__switch' formControlName="active" [(ngModel)]='proxy.active' [type]="'rectangle'" style='transform: translateY(4px);
    display: inline-block;'></loc-switch>
            </span>           
        </div>
        <div class="m-form__group">
            <loc-input-text label='Proxy target' formControlName="target" [(ngModel)]='proxy.target' id='target' required validateUrl></loc-input-text>
            <show-error *ngIf="proxyForm.dirty" [control]="proxyForm.get('target')" [options]="{'required': 'Field is required', 'validateUrl': 'Wrong url format'}">
            </show-error>
        </div>
        <div class="m-form__group">
            <loc-input-text label='Proxy timeout (ms)' formControlName="proxyTimeout" type='number' [(ngModel)]='proxy.proxyTimeout'
                id='target'></loc-input-text>
        </div>
        <div class="m-form__group">
            <loc-input-text label='Basic auth' formControlName="auth" [(ngModel)]='proxy.auth' id='auth' required></loc-input-text>
            <show-error *ngIf="proxy.auth" [control]="proxyForm.get('auth')" [options]="{'required': 'Field is required', 'validateUrl': 'Wrong url format'}">
            </show-error>
        </div>
        <div class="m-form__group proxy-form__inline">
            <span>Add x-forward headers</span>
            <loc-switch class='health__switch' formControlName="xfwd" [(ngModel)]='proxy.xfwd' [type]="'rectangle'">
            </loc-switch>
        </div>
        <div class="m-form__group proxy-form__inline">
            <span>Passes the absolute URL as the path</span>
            <loc-switch class='health__switch' formControlName="toProxy" [(ngModel)]='proxy.toProxy' [type]="'rectangle'">
            </loc-switch>
        </div>
        <div class="m-form__group proxy-form__inline">
            <span>Secure</span>
            <loc-switch class='health__switch' formControlName="secure" [(ngModel)]='proxy.secure' [type]="'rectangle'">
            </loc-switch>
        </div>
        <div class="m-form__group proxy-form__inline">
            <span>Prepend path</span>
            <loc-switch class='health__switch' formControlName="prependPath" [(ngModel)]='proxy.prependPath' [type]="'rectangle'">
            </loc-switch>
        </div>
        <div class="m-form__group proxy-form__inline">
            <span>IgnorePath path</span>
            <loc-switch class='health__switch' formControlName="ignorePath" [(ngModel)]='proxy.ignorePath' [type]="'rectangle'">
            </loc-switch>
        </div>
        <div class="m-form__group proxy-form__inline">
            <span>Change origin</span>
            <loc-switch class='health__switch' formControlName="changeOrigin" [(ngModel)]='proxy.changeOrigin' [type]="'rectangle'">
            </loc-switch>
        </div>

        <div class="m-form__group proxy-form__inline">
            <span>Proxy Websockets</span>
            <loc-switch class='health__switch' formControlName="ws" [(ngModel)]='proxy.ws' [type]="'rectangle'">
            </loc-switch>
        </div>
    </form>
</div>
