.proxy-form {
  width: 100%;
  display: block;

  &__inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;

    &--active {
      justify-content: flex-start;

      > * {
        margin-right: 1.3rem;
      }
    }
  }

  &__methods {
    margin-bottom: 20px;

    &.hidden {
      display: none;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
  }
}

:host {
  width: 100%;
}

:host /deep/ .control-container {
  > * {
    flex: 1 0 16.6666%!important;
  }
}
