.l-auth {
  &__container {
    background: $white;
    padding: 10px;
    @media screen and (max-width: $grid-md) {
      min-height: 100%!important;
    }
  }

  &__authform {
   // max-width: 380px;
    padding: 15px 20px 20px;
    margin: 0 auto;
    background-color: #fff;

    &-heading {
      margin-bottom: 20px;
    }

    .checkbox {
      font-weight: normal;
      margin-bottom: 20px;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &:focus {
        z-index: 2;
      }
    }

  }

  @include element ('footer') {
    display: flex;
    flex-direction: row;

    > button {
      flex: 1;
      margin-right: .625rem;

      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
}
