.l {
  &__main-wrap {
    min-height: 100%;
    position: relative;
    @media screen and (min-width: $grid-md) {
      margin-bottom: -50px;
      padding-bottom: 50px;
    }
    @media screen and (max-width: $grid-md) {
      display: flex;
      flex-direction: column;
    }
  }

  &__main-footer {
    @extend .hidden-sm-down;

    padding: 1rem 0;
    height: 100%;
    font-size: 1em;
    background: $light-blue;
    text-align: center;
    height: 50px;
    color: $white;
    display: flex;

    > .version {
      flex: 1 0 auto;
    }

    > .title {
      flex: 1 0 auto;
    }
  }

  &__main-container {
    @extend .container-fluid;
    padding: 0 !important;
    @media screen and (max-width: $grid-md) {
      padding: 0;
      margin: 0;
    }
    @media screen and (min-width: $grid-md) and (max-width: $grid-lg) {
      padding: 0 15px !important;
      max-width: 50rem;
      margin: 0 auto;
    }
    @media screen and (min-width: $grid-lg) {
      padding: 0 15px !important;
      max-width: 60rem;
      margin: 0 auto;
    }
  }
}

.l-row {
  @extend .row;
  @media screen and (max-width: $grid-md) {
    padding: 0;
    margin: 0;
  }
}

.l-col {
  @media screen and (max-width: $grid-md) {
    padding: 0 !important;
  }
}

body.blurred *.authH {
  filter: blur(3px);

  > * {
    filter: blur(3px);
  }
}

[layout="row"] > * {
  margin: 0 $p;
}
