.l-entries {
  @extend %l-page;
  @include flexbox;
  @include flex-direction(column);

  @include element ('import') {
    @extend .container-fluid;
    flex: 1;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (max-width: $grid-md) {
      display: block;
      padding-bottom: 70px;
      position: static;
    }

    &-commands {
      display: flex;
    }

    &-button {
      margin-left: auto;
      padding: 2px;
      width: 100px;
      height: 30px;
      font-size: .9rem;
      margin-left: auto;
      padding: 5px;

      > i {
        transform: translateY(2px);
        display: inline-block;
      }

      @include modifier ('upload') {}
    }

    &-form {
      @extend .col-sm-12;
      overflow: auto;
      display: flex;
      flex-direction: column;

      @include modifier ('routes') {}

    }

    &-route-list {
      @extend .m-sidebar__menu;
      padding: .625rem 0 !important;

      > li {
        background: white;
        display: flex;
        justify-content: space-between;
        padding: 7px;
        margin: 0 !important;
        font-size: .9rem;
        cursor: pointer;

        &:nth-child(2n+3) {
          background: #fafafa;
        }

        &:first-child {
          background: #fafafa;
        }

        &:hover {
          background: #f1f1f1;
        }
      }
    }

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: 1px solid #eee;
      margin-bottom: 15px;

      > h2 {
        margin: 0;
        color: #455a64;
      }

      > .help {
        transform: translateY(3px);
      }
    }

    &-body {
      flex: 1;
    }

    &-footer {
      padding: .625rem;
      @media screen and (max-width: $grid-md) {
        position: absolute;
        left: 0;
        display: flex;
        bottom: 0;
        width: 100%;
        background: white;

        > * {
          flex: 1;

          &:first-child {
            margin-right: $p;
          }
        }
      }
    }

  }

  .entry {
    @include element ('status') {
      display: flex;
      flex-direction: column;

      &-card {
        overflow: hidden;
        background: #fafafa;
        transition: all 250ms;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        display: flex;
        padding: .35rem;
        font-size: .9rem;
        height: 100%;
        width: 100%;
        min-width: 100px;
        flex: 1 0 50%;
        padding: .35rem .625rem;
        justify-content: center;

        @include modifier ('average') {
          font-size: 1.5rem;
          font-weight: 600;
        }

        @include modifier ('health') {
          font-size: 1.2rem;
          font-weight: 600;
          text-align: center;
        }

        &:hover {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0,0,0,0.15);
        }

        > * {
          margin: auto .325rem;

          &:last-child {
            margin-right: 0 !important;
          }

          &:first-child {
            margin-left: 0 !important;
          }
        }
      }

      &-description {
        width: 100%;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    @include element ('actions') {
      cursor: pointer;
      display: flex;
      height: 22px;

      &-item {
        @extend .button--icon;
        font-size: 1.3rem;
        margin-left: .625rem;
        transition: all .15s linear;
        text-decoration: none!important;

        &:hover {
          color: $blue;
        }
      }
    }

    @include element ('indicator') {
      font-size: 1.2rem;
      color: transparent;
      display: flex;
      height: 20px;
      width: 20px;
      font-size: 1.1rem;
      line-height: 0;
      cursor: pointer;

      &-marker {
        cursor: pointer;

        @include modifier ('green') {
          color: $green;

          svg {
            fill: $green;
          }
        }

        @include modifier ('red') {
          color: $red;

          svg {
            fill: $red;
          }
        }

        @include modifier ('grey') {
          color: $light-green-grey;

          svg {
            fill: $light-green-grey;
          }
        }
      }
    }
  }

  .entries {
    @include flexbox;
    @include flex-direction(column);
    @include flex(0 1 auto);
    padding-bottom: 7px;

    @include element ('config') {
      &-menu {
        background: $header-white;
        border-top: 1px solid #eceff1;
        transition: height .3s ease, background-color .3s, transform .3s;
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        &.shown {
          height: 50px;
        }
      }

      &-input {
        width: .1px;
        height: .1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        & + label {
          text-align: center;
        }
      }

      &-button {
        padding: 2px;
        width: 100px;
        height: 30px;
        font-size: .9rem;
        margin: auto 15px auto 0;
        padding: 5px;

        > i {
          transform: translateY(2px);
          display: inline-block;
        }

        @include modifier ('upload') {}
      }
    }

    @include element ('table') {
      @include flexbox;
      @include flex-direction(column);
      @include flex(1 0 auto);     
    }

    @include element ('header') {
      @include flexbox;
      background: $header-white;
      padding: $p 1.2rem;
      position: relative;

      &-search {
        width: 100%;
        position: relative;
        padding: $p 0;
      }

      &-operations {
        @include flexbox;
        margin-right: -$p;
      }

      &-config {
        @include flexbox;

        position: absolute;
        color: white;
        right: 0;
        top: 0;
        height: 100%;
        padding: .825rem 0;
        width: 6%;

        &::hover {
          background: rgb(0, 126, 229);
        }
      }

      &-item {
        @extend .button--icon;
        color: $light-grey;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        font-size: 1.8rem;
        padding-top: .2rem;
        transition: all .15s linear;
        margin: auto;
        padding: 5px 0;

        &:hover {
          background: $blue;
          color: $white;
          box-shadow: 0 2px 10px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.15), inset 0 -1px 0 rgba(0,0,0,.15);
        }

        @include modifier ('update') {
          margin-right: $p;
        }

        @include modifier ('add') {
          margin-right: $p;
        }

        @include modifier ('export') {
          margin-right: $p;

          > i {
            font-size: 1.6rem;
            transform: translateY(-3px);
            display: inline-block;
          }
        }

        @include modifier ('import') {
          margin-right: $p;

          > i {
            font-size: 1.6rem;
            transform: translateY(-3px);
            display: inline-block;
          }
        }
      }
    }

    @include element ('table') {
      position: relative;
      margin: 0 auto;
      min-height: 50px;
      width: 100%;

      > h3 {
        text-align: center;
        padding: 4rem;
        background: $white;
      }

      entries-details {
        width: 100%;
        display: block;
        margin-bottom: 1px;
      }

      &-container {
        @extend .m__table;
        @extend .m__table--4cols;

        margin-bottom: 0;

        .m__table-row {
          padding: $p;
        }

        .m__table-cell {
          position: relative;
          display: flex;

          > * {
            margin: auto 0;
          }

          &.auto {
            flex: 0 1 auto;
            width: auto!important;
          }
        }
        @media screen and (max-width:$grid-md) {
          margin: 0 !important;

          .m__table-row {
            padding: 1rem;
          }
        }
      }
    }

    @include element ('footer') {
      padding: .325rem;
      background: white;
      display: flex;

      &.hidden {
        display: none;
      }
    }
  }
}

/*
=================================
Module: l_entries, layout: mobile 
=================================
*/
@media screen and (max-width:$grid-md) {
  .l-entries {
    margin: 0 !important;
    display: flex;
    flex-direction: column;

    .entries {
      &__header {
        background: $white;

        &-search {
          width: 100%;
          position: relative;
          padding: $p 0;
          display: flex;
          background: white;

          .input__search {
            display: block;
            position: relative;
            padding: $p 0 0;
            flex: 0 1 auto;
            width: 100%;
          }
        }

        &-operations {
          background: white;
          padding-right: 0;
          margin-right: -0.25rem;
          margin-left: 1.2rem;
        }

        &-item {
          background: #d0dce7!important;
          color: white!important;

          &--update {
            margin-right: 1.3rem !important;
            margin-left: 1rem !important;
          }
        }
      }

      &__footer {
        padding: $p;
        margin-top: auto;

        loc-paging-bar {
          margin: auto;
        }

        .m-pager__navigation {
          button {
            color: white!important;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            font-size: 2rem;
            padding-top: .2rem;
            margin: 0 .625rem;
            background: #d0dce7!important;
          }
        }
      }
    }
  }

  .m__table-row {
    margin-bottom: 5px;
    box-shadow: 0 2px 4px -2px rgba(32, 37, 41, 0.25);
    background: $white!important;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
