.l-nodes {

  width: 100%;     

  .nodes-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .nodes-list-item {
    padding: 1rem;
    border: 1px dotted $light-grey;
    color: white;
    background: $green;
    margin-bottom: .31rem;
  }
}
