.l-step {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__card {
    padding: 1em;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(220, 220, 220, 0.12), 0 1px 2px rgba(177, 169, 169, 0.24);
    margin-bottom: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    flex: 1;

  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;

    > h2 {
      margin: 0;
      color: #455a64;
    }

    > .help {
      transform: translateY(3px);
    }

  }
}

.l-steps {
  &__buttons {
    display: flex;
    flex-direction: row;

    > * {
      flex: 1 0 auto;

      &:first-child {
        margin-right: 7pxpx;
      }

      &:last-child {
        margin-left: 7px;
      }
    }
  }

  &__preview {
    &-tabset {
      display: block;

      li.nav-item {
        flex: 1 0 auto;
        text-align: center;
      }
    }
  }

  &__resultModal {
    &-container {
      overflow: auto;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 5px;

      button {
        margin-top: auto;
      }
    }
  }

  &__result {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    max-width: 100%;
    height: 100%;

    &-json {
      overflow: scroll;
      overflow-x: auto;
      flex: 1 0 auto;
      max-width: 100%;
      border: 1px solid #ccc;
      overflow-x: auto;
      margin-bottom: 5px;

      pre {
        padding: 5px;
        margin: 5px;

        span.string {
          color: green;
        }

        span.number {
          color: darkorange;
        }

        span.boolean {
          color: blue;
        }

        span.null {
          color: magenta;
        }

        span.key {
          color: red;
        }
      }
    }

    &-text {}

    &-html {
      width: 100%;
      height: 100%;

      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }

}

