.l-services {
  @extend %l-page;

  display: flex;
  flex-direction: column;
  padding-bottom: .625rem;

  &__list {
    &-body {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      width: 725px;
      color: #fff;
      z-index: 3;

      > * {
        margin: 2px;
        flex: 1;
      }

    }

    .service-item {
      display: flex;
    }

    .service-item__icon {
      position: relative;
      float: left;
      width: 56px;
      height: 56px;
      background: $green;
      text-align: center;

      display: flex;

      > i {
        margin: auto;
      }
    }

    .service-item__type {
      float: left;
      width: 150px;
      height: 56px;
      text-align: center;
      border-right: 1px solid #ddd;
      background: rgba(255,255,255,0.92);

      small {
        position: relative;
        top: 50%;
        display: block;
        color: #000;
        font-size: 11px;
        transform: translateY(-50%);
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
      }
    }

    .service-item__name {
      position: relative;
      float: left;
      height: 56px;
      padding-left: 13px;
      padding-right: 13px;
      border-left: 1px solid #fff;
      width: 580px;
      background: rgba(255,255,255,0.92);
      display: flex;

      a {
        margin: auto;
        cursor: pointer;
      }
    }
  }

  .service {
    padding: 1.2em;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(220, 220, 220, 0.12), 0 1px 2px rgba(177, 169, 169, 0.24);
    margin-bottom: 10px;
    border-radius: 2px;
    flex: 1;
    position: relative;
  }

  &__configlist {
    // @extend .l-api__list;
  }

  &__table {
    //  @extend .l-api__table;

    &--actions {
      //   @extend .l-api__table--actions;

      &-item {
        //    @extend .l-api__table--actions-item;
      }
    }
  }

  /* &__search {
    @extend .l-api__search;
    background: transparent!important;
  }*/

  // &__header {
  //   @extend .l-api__header;
  // }

  &__modalcontainer {
    padding: $p;
  }

  .services-modal {
    @extend %l-modal;
  }

  // .services-modal {
  //   @extend .loc-modal;
  //   @media screen and (min-width: $grid-md) {

  //     display: flex;
  //     flex-direction: row;
  //     overflow: hidden!important;

  //     .modal-dialog {
  //       transform: translate(0, calc(50% - 140px))!important;
  //       flex: 0 1 auto;
  //       height: 100%;
  //       width: 400px!important;
  //       max-width: 100%;
  //       margin: 0 auto !important;
  //     }
  //   }
  // }
}
@media screen and (max-width: $grid-md) {
  .l-services {
    &__list {
      &-body {
        padding: 0 $p;

        > * {
          flex: 1 0 auto;
          margin: 0 $p;
          height: 100px;
          padding-top: 15px;
        }
      }
    }
  }

}
