<div class="l-services" flexy [bottom]='50' *locAuthOnly>
    <div class="l__page-header">
        <span class="title"><a routerLink='/services'>Services</a> / {{ serviceName }}</span>
    </div>
    <div class='l__page-body'>
        <div class='service'>
            <loader [active]='loading'></loader>
            <div *ngIf='!!summary?.general && summary.general.length>0'>
                <div class='summary__header'>
                    <h3>General</h3>
                </div>
                <div *ngFor='let item of summary.general' class="c-form-group__set col-xs-48">
                    <div class="row">
                        <div class="c-form-item__fields col-xs-48">
                            <div class="c-form-item__field c-form-item__field--read-only">
                                <span class="u-txt-primary u-mr7">{{item.key}}</span> {{item.value}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf='!!summary.configuration && summary.configuration.length>0'>
                <div class='summary__header'>
                    <h3>Config</h3>
                </div>
                <div *ngFor='let item of summary.configuration' class="c-form-group__set col-xs-48">
                    <div class="row">
                        <div class="c-form-item__fields col-xs-48">
                            <div class="c-form-item__field c-form-item__field--read-only">
                                <span class="u-txt-primary u-mr7">{{item.key}}</span> {{item.value}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf='!!summary?.message && summary.message.length>0'>
                <div class='summary__header'>
                    <h3>Summary</h3>
                </div>
                <div *ngFor='let item of summary.message' class="c-form-group__set col-xs-48">
                    <div class="row">
                        <div class="c-form-item__fields col-xs-48">
                            <div class="c-form-item__field c-form-item__field--read-only">
                                <span class="u-txt-primary u-mr7">{{item.key}}</span> {{item.value}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>