.c-form-item__field:last-child {
  padding: 0;
}

.c-form-item__field--read-only {
  color: #838383;
  overflow: hidden;
}

.c-form-item__field {
  display: inline-flex;
  align-content: center;
  align-items: center;
  flex: 1 100%;
  min-height: 2.125rem;
  margin: 0;
  padding: 0 .875rem 0 0;
  color: inherit;
}

.u-mr7 {
  margin-right: .875rem;
}

.u-txt-primary {
  color: #6593b8;
}

.summary {
  &__header {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    margin: 10px 0;
  }
}
