<div class='l-nodes' *locAuthOnly>
    <ul class='nodes-list'>
        <li class='nodes-list-item' *ngFor='let node of workingNodes'>
            <span>{{node.name}}: {{node.rss}}</span>
        </li>
    </ul>
</div>