<div id="inlineEditWrapper">

    <!-- editable value -->
    <a class='editable-value' (click)="edit(value)" [hidden]="editing">{{ value }}</a>

    <!-- inline edit form -->
    <form #inlineEditForm="ngForm" class="inlineEditForm" (ngSubmit)="onSubmit(value)" [hidden]="!editing">
        <div class="__container">

            <!-- inline edit control  -->
            <!-- <input #inlineEditControl class="form-control" [(ngModel)]="value" [ngModelOptions]="{standalone: true}" /> -->

             <loc-input-text label='Pattern' [(ngModel)]='value' [ngModelOptions]="{standalone: true}" style='padding-top:15px;'></loc-input-text>

            <!-- inline edit save and cancel buttons -->
            <span style='margin-top: 7px; display: block;'>
                <button type="submit" class="button button--secondary button--xsm">save</button>
                <button class="button button--primary button--xsm" (click)="cancel(value)">cancel</button>
            </span>

        </div>
    </form>
</div>