a {
  text-decoration: none;
  color: #428bca;
  border-bottom: dotted 1px #ccc;
  cursor: pointer;
  line-height: 2;
  margin-right: 5px;
  margin-left: 5px;
}

.editInvalid {
  color: #a94442;
  margin-bottom: 0;
}

.inlineEditForm {}

a.editable-value {
  color: inherit;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  display: block;
  font-size: 0.9rem;
}

.error {
  border-color: #a94442;
}

[hidden] {
  display: none;
}

.__container{
  
}