<loc-dropdown [title]='__getTitle()'
    (remove)="remove.emit(condition)">
    <form [formGroup]='optionForm' class='health__form' role='form'>
        <div class="col-xs-12">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-3">
                    <loc-input-text label="Id" formControlName="name" [(ngModel)]='condition.name' id='name' type="text" required>
                    </loc-input-text>
                    <show-error *ngIf="optionForm.dirty" [control]="optionForm.get('name')" [options]="{'required': 'Field is required'}">
                    </show-error>
                </div>
                <div class="form-group col-xs-12 col-sm-9">
                    <loc-select [items]="['Header','Query','Context']" label='Data source' formControlName="source" id="source" [(ngModel)]='condition.source'
                        required>
                    </loc-select>
                    <show-error *ngIf="optionForm.dirty" [control]="optionForm.get('source')" [options]="{'required': 'Field is required'}">
                    </show-error>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-4">
                    <loc-input-text label="Key" formControlName="key" [(ngModel)]='condition.key' id='key' type="text" required>
                    </loc-input-text>
                    <show-error *ngIf="optionForm.dirty" [control]="optionForm.get('key')" [options]="{'required': 'Field is required'}">
                    </show-error>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <loc-select [items]="['eq','neq']" label='Operation' formControlName="operation" id="method" [(ngModel)]='condition.operation'
                        required>
                    </loc-select>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <loc-input-text label="Value" formControlName="value" [(ngModel)]='condition.value' id='key' type="text" required>
                    </loc-input-text>
                    <show-error *ngIf="optionForm.dirty" [control]="optionForm.get('value')" [options]="{'required': 'Field is required'}">
                    </show-error>
                </div>
            </div>
        </div>
    </form>
</loc-dropdown>