<div class="l-step">
    <div class="l-step__card">
        <div class='l-step__header'>
            <h2>Routing table</h2>
            <button class='button button--icon help'>
                <i class="icon-help-circled"></i>
            </button>
        </div>
        <loader [active]='loading'></loader>
        <div class="row">
            <div class="col-sm-12">
                <div style="width: 100%;" class="alert alert-warning alert-sm" *ngIf="showError" id="app-alert">
                    <button type="button" class="ml-lg close" (click)="showError = false;" data-dismiss="alert" aria-hidden="true">×</button>{{validationErrorText}}
                </div>
                <div class="image-container">
                    <img src="/assets/images/cloud.png" alt="" style="width: 50px;">
                </div>
                <div class='rules-container'>
                    <div class="rule rule--common" style="position: relative;">
                        <a href (click)='editCommon()'>~{{basicPath}}/{{basicRule.path}}</a>
                    </div>
                    <div class='rule' *ngFor='let rule of rules'>
                        <div class='rule__header2'>
                            <inline-edit  title='Edit {{ rule.path }}' #edit [(ngModel)]='rule.path' [ngModelOptions]="{standalone: true}" (onSave)='savePath(rule, $event)'></inline-edit>
                            <div class='rule__button-set'>
                                <button class='button button--icon darken-on-hover' (click)='editRule(rule)' title='Edit config'> 
                                    <span class="icon-ios-compose-outline"></span>
                                </button>
                                <button class='button button--icon red-on-hover' style='font-size: 1.05rem;' (click)='deleteRule(rule)' title='Remove child route'>
                                    <span class="icon-delete-garbage-streamline"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="button button--secondary rules-container__add-button" (click)="addRule()">
                        <span class='icon-plus-1'></span>    
                        <span>Add child</span> 
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #pluginsModal let-c="close">
        <div class="modal-header">
            <h4 class="modal-title">Edit rule configuration</h4>
            <button type="button" class="close" (click)="c()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="pipeModal-container">
                <plugins-set-rule #ruleComponent [rule]='underEdit' [basicPath]='basicPath' [allPlugins]='plugins'></plugins-set-rule>
            </div>
        </div>
        <div class='modal-footer'>
            <button type="button" (click)="c()" class="button button--secondary">             
                Cancel
            </button>
            <button type="button" (click)="c(ruleComponent.rule)" class="button button--primary">             
                Save
            </button>
        </div>
    </ng-template>

    <div class='l-steps__buttons'>
        <button type="button" (click)="onSubmit()" class="button button--primary l-master__next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>  Next         
        </button>
        <button type="button" (click)="onSave()" class="button button--primary l-master__next">
            <i class="icon-floppy-o" aria-hidden="true"></i>  Save
        </button>
    </div>
</div>