<div class='l-rule'>
    <div class="row tab" style='flex:0 1 auto;'>
        <div class='col-sm-12'>
            <ul class="nav nav-pills nav-justified custom-nav-pills __commands">
                <li [class.active]="tab=='proxy'" class="blue-custom-slide" (click)='setProxyView()'>
                    <span class="strong">General</span>
                </li>
                <li [class.active]="tab=='flow'" class="orange-custom-slide" (click)='setFlowView()'>
                    <span class="strong">Flow</span>
                </li>
                <li [class.active]="tab=='conditions'" class="orange-custom-slide" (click)='setConditionsView()'>
                    <span class="strong">Conditions</span>
                </li>
                <li [class.active]="tab=='policy'" class="orange-custom-slide" (click)='setPolicyView()'>
                    <span class="strong">Policy</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" *ngIf="tab=='proxy'" style='flex:1; overflow: auto;'>
        <div class="plugins col-sm-12">
            <div class="proxy__container">
                <rule-form [(rule)]='rule' #proxyForm></rule-form>
            </div>
        </div>       
    </div>

    <div class="row" *ngIf="tab=='flow'" style='flex:1; overflow: auto;'>
        <div class="plugins col-sm-12">
            <div class="plugins__container">
                <div class="plugins__header">
                    <button class='button button--light plugins__add-button' [@buttonState]='state' (click)='toggle()'>                                    
                            <svg [@iconState]='state' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="0 0 20 20">
                                <path fill="#a6b0b7" d="M10.707 10.5l5.646-5.646c0.195-0.195 0.195-0.512 0-0.707s-0.512-0.195-0.707 0l-5.646 5.646-5.646-5.646c-0.195-0.195-0.512-0.195-0.707 0s-0.195 0.512 0 0.707l5.646 5.646-5.646 5.646c-0.195 0.195-0.195 0.512 0 0.707 0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146l5.646-5.646 5.646 5.646c0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146c0.195-0.195 0.195-0.512 0-0.707l-5.646-5.646z"/>
                            </svg>                
                    </button>
                    <div class="plugins__details" [@detailsCollapse]="state">
                        <div class="plugins__item" *ngFor="let plugin of allPlugins; let i = index" dnd-draggable [dragEnabled]="true" [dragData]="plugin">
                            <div class="plugins__item-content">
                                <span>{{ (plugin.displayName || plugin.name) | capitalize }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="plugins__body">
                    <div class='col-sm-6 flow' dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
                        <div class="flow__container" [class.filled]='pipePlugins?.length > 0'>
                            <div class="flow__path">
                                <h3>~{{basicPath}}{{rule.path}}</h3>
                            </div>
                            <div class="flow__plugins-list" dnd-sortable-container [sortableData]="pipePlugins">
                                <div *ngFor="let plugin of pipePlugins; let i = index" class='flow-item' [class.active]='plugin===activePlugin' dnd-sortable
                                    [sortableIndex]="i" (click)='setPluginActive(plugin)'>
                                    <div class='flow-item__number2'>
                                        <i class="icon-angle-double-down flow-item__icon"></i>
                                        <button class='button button--icon flow-item__remove-button' (click)='deletePlugin(plugin)'> 
                                            <span class="icon-delete-garbage-streamline red-on-hover"></span>
                                        </button>
                                    </div>
                                    <div class="flow-item__content2">
                                        <span>{{ (plugin.shortName || plugin.name) | capitalize}}</span>
                                    </div>
                                </div>
                            </div>
                            <h3 class="flow__title" [class.filled]='pipePlugins?.length > 0'>Drop plugins here</h3>
                        </div>

                    </div>
                    <div class="col-sm-6 form">
                        <div class="form__container" *ngIf="!!editable">
                            <h3>{{ (editable?.displayName || editable?.name) | capitalize }}</h3>
                            <plugin-form #pForm [plugin]="editable" (onChange)='pluginValueChanged($event)' (validation)='pluginValidationChanged($event)'>
                            </plugin-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

  

    <div class="row" *ngIf="tab=='conditions'" style='flex:1; overflow: auto;'>
        <div class="plugins col-sm-12">
            <div class="conditions__container">
                <entry-condition *ngFor='let condition of rule?.conditions' [condition]='condition' (change)='onConditionsChanged($event)'
                    (remove)='onDeleteCondition(condition)'></entry-condition>
                <button class='button button--secondary' (click)='onAddNewConditions()'>Add</button>
            </div>
        </div>
    </div>

      
    <div class="row" *ngIf="tab=='policy'" style='flex:1; overflow: auto;'>
        <div class="plugins col-sm-12">
            <div class="conditions__container">
              <loc-input-ace [ngModel]="rule.policy" (change)='onPolicyChanged($event)'></loc-input-ace>
            </div>
        </div>
    </div>
</div>