.l-rule {
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;

  .plugins {
    list-style: none;
    flex: 0 0 auto;

    &__container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: .625rem;
    }

    &__details {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: calc(100% + 10px);
      padding: 10px 0 0;
      margin-left: -5px;
      margin-right: -5px;

      &:after {
        content: "";
        flex: auto;
      }
    }

    &__body {
      flex: 1;
      display: flex;
    }

    &__header {
      width: 100%;
      flex: 0 1 auto;
      margin-bottom: .625rem;
    }

    &__add-button {
      width: 100%;
      padding: 10px 0 6px;
    }

    &__tab-button {
      width: 200px;
      border-radius: 0;

      &.active {
        background: #007ee5;
        border-color: #5b7e9a;
        color: white;
      }
    }

    &__item {
      display: flex;
      justify-content: flex-start;
      position: relative;
      flex: 0 1 33.333%;
      flex-direction: row;
      padding: 0 .3rem;
      margin-bottom: .3rem;

      &-content {
        padding: 10px 15px;
        color: #373a3c;
        background: #fafafa;
        font-size: 16px;
        text-align: inherit;
        width: 100%;
        display: flex;
        border: dotted 1px #dedede;

        &:hover {
          background: rgba(229, 229, 229, 0.3);
        }
      }

      > span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 120px;
      }

      &.active {
        background: #E5E5E5!important;
      }

    }

    &__icon {
      color: darken(#a6b0b7, 20%);
    }
  }
  .conditions {
    &__container{
      width: 100%;
    }    
  }

  .flow {
    &__plugins-list {
      text-align: center;
      padding-right: 60px;
      margin-bottom: 100px;
      @media screen and(max-width: 767px) {
        padding-right: 0;
      }
      @media screen and(max-width: 991px) {
        padding-right: .625rem;
      }
    }

    &__container {
      width: 100%;
    }

    &__title {
      color: darken(#a6b0b7, 20%);
      text-transform: uppercase;
      font-size: 1.8rem;
      z-index: -1;
      text-align: center;
      width: 100%;

      transform: translateY(-55px);

      &.filled {
        color: #6e7e89;
        text-transform: uppercase;
        font-size: 1.4rem;
        width: 80%;
        width: 80%;
      }
    }

    &__path {
      margin: 0 0 20px;
      width: 100%;

      > h3 {
        text-align: left;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
      }
    }

    &-item {
      display: flex;
      padding: 0;
      margin-bottom: .625rem;

      &__remove-button {
        display: none;
        font-size: 1.2rem;
      }

      &__number2 {
        border: 1px dotted #cfd8dc;
        flex: 1;
        display: -ms-flexbox;
        color: rgba(69, 90, 100, 0.7);
        position: relative;
        font-weight: 600;
        background: #fafafa;
        text-align: center;
        font-size: 1.3rem;
        margin-right: .625rem;
        flex: 0 0 15%;
        display: flex;

        > button {
          transform: translateY(2px);
        }

        > i {
          transform: translateY(4px);
        }

        > i,
        button {
          margin: auto;
        }
      }

      &__content2 {
        border: 1px dotted #cfd8dc;
        flex: 1;
        display: -ms-flexbox;
        padding: .625rem;
        color: rgba(69, 90, 100, 0.7);
        position: relative;
        font-weight: 600;
        background: #fafafa;
        text-align: center;
      }

      &.active {
        .flow-item__remove-button {
          display: block;
          //  color: red;
        }

        .flow-item__content2,
        .flow-item__number2 {
          border-style: solid;
          //  box-shadow: inset 0 0 1px 0 rgba(168,168,168,.4);
        }

        .flow-item__icon {
          display: none;
        }
      }

      > button {
        font-size: 1.2rem;
        transform: translateY(2px);
      }
    }
  }

  .flow,
  .form {
    &__container {
      flex: 1;

      &.filled {
        //padding: 0 0 95px;
      }
    }
  }

  .plugins,
  .proxy {
    display: flex;

    &__container {
      border: 1px dotted rgba(110, 126, 137, 0.31);
      border-radius: 2px;
      padding: .625rem;
      flex: 1;
      overflow: auto;
    }
  }

  .flow,
  .form {
    display: flex;
    margin-top: .625rem;
  }

  .flow {
    @media screen and(min-width: 767px) {
      padding-right: .325rem;
    }

  }

  .form {
    @media screen and(min-width: 767px) {
      padding-left: .325rem;
    }
  }

  .tab {
    margin-bottom: 15px;
  }

  .__commands {
    display: flex;

    > li {
      flex: 0 1 50%;
      text-align: center;
      padding: .625rem;
      border-bottom: solid 1px #ccc;
      background-color: #FFFFFF;
      color: #666;
      font-size: larger;
      cursor: pointer;

      &.active {
        border-bottom: solid 2px #d26911;
        color: #555;
      }

      span {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

// .blue-custom-slide,
// .green-custom-slide,
// .orange-custom-slide {
//   background-color: #FFFFFF;
// }

// .blue-custom-slide {
//   border-bottom: solid 4px #0080c6;
// }

// .orange-custom-slide {
//   border-bottom: solid 4px #f4b841;
// }

// .green-custom-slide {
//   border-bottom: solid 4px #91f798;
// }

// .strong {
//   font-weight: 600;
// }
