.rule {
  display: flex;
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    > inline-edit{
        max-width: calc(100% - 30px);
    }

  }

  &__expand-button {
    position: absolute;
    left: 0;
    top: -4px;
  }

  &__delete-button {
    flex: 0 1 auto;
    margin-left: auto;
  }

  &__container {
    overflow: hidden;
  }

}


