:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.plugins-container {
  width: 80%;
  margin: 0 auto;
}

.image-container {
  > img {
    transform: translate(10px, -5px);
  }

  &::after {
    content: '';
    background: url("/assets/images/lines.png") no-repeat 0 0;
    background-position: -108px -30px;
    width: 30px;
    display: inline-block;
    height: 20px;
    position: absolute;
    top: 50px;
    left: 50px;
  }

  &.empty::after {
    background-position: -107px 0;
    width: 2px;
    height: 30px;
    position: absolute;
    left: 50%;
    bottom: -30px;
  }
}

.plugin-props {
  position: relative;
  margin-top: 10px;

  .delete-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.alert-sm {
  padding: 10px 12px;
  font-size: 13px;

  .ml-lg {
    margin-left: 20px;
    font-size: 18px;
  }

  .fw-semi-bold {
    font-weight: 600;
  }
}

.rules-container {

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  &__add-button {

    padding: 2px;
    width: 150px;
    font-size: .9rem;
    margin-left: 35px;
    margin-top: 12px;

    &:active {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    }

    > .icon-plus-1 {
      transform: translateY(2px);
      display: inline-block;
    }
  }

  &__item {
    > span {
      &:before {}
    }
  }
}

.proxy {
  position: relative;

  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 70px;
  }

  &:not(.disabled) {
    &:before {
      content: '';
      background: url("/assets/images/lines.png") no-repeat 0 0;
      background-position: 0 -30px;
      width: 30px;
      display: inline-block;
      height: 30px;
      position: absolute;
      top: -5px;
      left: 15px;
    }
  }

  &__label {
    > a {
      text-decoration: none;
      outline: none;
    }
  }

  &.disabled {
    .proxy__badge {
      background: #a6b0b7;
    }
  }

  &__badge {
    background: #455a64;
    margin-right: 15px;
    color: white;
    font-weight: 500;
    width: 35px;
    padding: 5px 10px 2px;
    display: inline-block;
    transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955) all;
  }

  &__switch {
    margin-right: 5px;
  }

}


.rule {
  margin-left: 65px;
  position: relative;

  &:before {
    content: '';
    background: url("/assets/images/lines.png") no-repeat 0 0;
    background-position: -70px 0;
    width: 30px;
    display: inline-block;
    height: 20px;
    position: absolute;
    left: -35px;
    top: 8px;
  }

  &--common {
    margin-left: 0 !important;
    margin-bottom: 5px !important;

    &:before {
      content: none;
    }

    > a {
      outline: none;
      text-decoration: none;
    }
  }

  &__header2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5px;
  }

  &__button-set {
    margin-left: auto;
    margin-left: 15px;
    transform: translateY(7px);

    > * {
      display: inline-block;
      font-size: 1.4rem;
    }
  }

  inline-edit {
    flex: 1 0 auto;
  }
}

.pipeModal-container {
  overflow: auto;
  padding: 5px;
  max-height: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 15px;

  button {
    margin-top: auto;
  }
}
