<div class="md-input-group" [class.is-disable]="disabled" [class.invalid]='hasError' [class.imagable]='imagable'>
    <input #inputControl [type]="type" [disabled]="disabled" (ngModelChange)="change.emit($event)" (focus)="focusEvent.emit($event)" (blur)="blurEvent.emit($event)"
        [(ngModel)]="value" [disabled]="disabled">
    <label class='placeholder-label' [class.has-value]='hasValue()' [class.disabled]='disabled'>{{ label }}</label>
    <div class='hightlite-underline'>
        <span class="hightlite-bar"></span>
    </div>
</div>
<ng-content></ng-content>