.md-input-group {
  position: relative;
}

input {
  font-size: 16px;
  padding: 7px 0 8px;
  display: block;
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
.placeholder-label {
  color: #a8b8c4;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: .2s ease all;
  -moz-transition: .2s ease all;
  -webkit-transition: .2s ease all;

  &.disabled {
    color: #999;
  }
}

/* active state */
input:focus ~ .placeholder-label {
  top: -14px;
  left: 0;
  font-size: 12px;
}

.placeholder-label.has-value {
  top: -14px!important;
  left: 0!important;
  font-size: 12px!important;
  transition: none!important;
}

.hightlite-underline {
  position: absolute;
  height: 1px;
  width: 100%;
}

.hightlite-bar {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d0dce7;
  transition: .2s ease all;
  -moz-transition: .2s ease all;
  -webkit-transition: .2s ease all;
}

input:focus ~ .hightlite-underline > .hightlite-bar {
  background-color: #007EE5;
}

input:disabled {
  background: white;
  color: #999;
}

// :host {
//     padding: 0px;
// }
