<div class="md-input-group" [class.is-disable]="disabled" [class.invalid]='hasError' [class.imagable]='imagable'>
    <textarea [disabled]="disabled" (ngModelChange)="change.emit($event)" (focus)="focusEvent.emit($event)" (blur)="blurEvent.emit($event)"
        [(ngModel)]="value" [disabled]="disabled">
    </textarea>
    <label class='placeholder-label' [class.has-value]='hasValue()'>{{ label }}</label>
    <div class='hightlite-underline'>
        <span class="hightlite-bar"></span>
    </div>
</div>
<ng-content></ng-content>