<div [formGroup]='form' class="__container">
    <loader [active]='loading && !no_dependencies' [delay]='200'></loader>
    <dynamic-form 
        [fields]="pluginTemplate" 
        #settingsForm='dynForm' 
        [(ngModel)]='settingsValue' 
        formControlName='settings'>
    </dynamic-form>
    <dynamic-form [hidden]='no_dependencies'
        [fields]="dependenciesTemplate" 
        #dependenciesForm='dynForm' 
        [(ngModel)]='dependenciesValue' 
        formControlName='dependencies'>
    </dynamic-form>
</div>