.header-item-container {
  display: flex;
  flex-flow: row;
  flex: 1 0 auto;

  & > * {
    flex: 0 1 auto;
  }
}

.key-value-item {
  flex: 1 0 auto;
}

.key-value-item-inputs-box {
  display: flex;
  flex-flow: row;
  margin-bottom: 2px;

  & > * {
    flex: 0 1 auto;
  }

  & input {
    width: 50%;
    margin: 0 2px;
    border: none;
    border-top: 1px solid whitesmoke;
    border-radius: 0;
    color: #757575;
    height: 25px;
    font-size: .9em;

    &:focus {
      outline: none !important;
      border-bottom: 1px solid #d26911;
    }

    &:hover {
      background-color: whitesmoke;
    }
  }
}

.remove-button {
  outline: none !important;
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: .8em;
  background-color: whitesmoke;
  border-radius: 2px;

  &:hover {
    color: #d26911;
  }
}
