.services__configItem {
  }

.p-ticker__commands {
  position: relative;
  float: left;
  height: 56px;
  padding-left: 13px;
  padding-right: 13px;
  border-left: 1px solid #fff;
  width: 580px;
  background: rgba(255,255,255,0.92);

  > button {
    }
}
