<div class="l-services" flexy [bottom]='50' *locAuthOnly>
    <div class="l__page-header">
        <span class="title">Services</span>
    </div>
    <div class='l__page-body'>
        <loader [active]='loading'></loader>
        <div class="l-services__list-body">
            <div class='l-services__list' *ngFor='let service of services'>
                <div class="service-item">
                    <div class="service-item__icon"><i class="fa fa-cog"></i></div>
                    <div class="service-item__type"><small>{{ service.type | uppercase }}</small></div>
                    <div class="service-item__name">
                        <a [routerLink]="['/services/config']" [queryParams]='{ name: service.name, type: service.type }'>{{ service.name | capitalize }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>