<div tabindex="0" (clickedOut)="close()" class="dropdown-container open">
    <div [ngClass]="{'ui-disabled': disabled}"></div>
   
    <loc-input-text type="text" label="Url" [label]="label" [ngModel]='activeOption?.text' (focus)='open()'>
    </loc-input-text>
  
    <!-- options to select list -->
    <ul #choicesContent *ngIf="optionsOpened && options && options.length > 0" class="select-dropdown-menu" role="menu">
        <li *ngFor="let o of options" role="menuitem" class='select-dropdown-menu-item'>
            <div class="ui-select-choices-row" (click)="selectMatch(o, true, $event)">
                <a href="" class="dropdown-item">
                    <div [innerHtml]="sanitize(o.text)"></div>
                </a>
            </div>
        </li>
    </ul>   
    <ng-content></ng-content>
</div>