.dropdown-container {
  position: relative;
  outline: none;

  &.open {
    .select-dropdown-menu {
      display: block;
    }
  }
}

.select-dropdown {
  &-menu {
    position: absolute;
    left: 0;
    right: 0;
    transition: .2s ease-out;
    background: #fff;
    box-shadow: 0 0 10px #a6b0b7;
    border-radius: 3px;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    top: 100%;
    z-index: 1000;
    float: left;
    padding: .5rem 0;
    transition: .2s ease-out;
    background: #fff;
    box-shadow: 0 0 10px #a6b0b7;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    background-clip: padding-box;

    &.hasActive {
      top: 150px;
    }

    &-item {
      list-style: none;
      display: block;
      width: 100%;
      background: transparent;
      border: 0;
      border-left: 2px solid transparent;
      line-height: 100%;
      padding: 5px 6px 6px;
      font-weight: 400;
      color: #373a3c;
      text-align: inherit;
      font-size: 14px;

      strong {
        color: #007EE5;
      }
    }
  }

  .md-input-group {
    margin-bottom: 7px;
  }

}

.menu-selected {
  font-size: 1.4rem;
  background-color: #ffffff;
  padding: 3px 28px 3px 14px;
  font-weight: 500;
  color: #3f454a;
  position: relative;
  margin-right: 7px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 13px;
  border: 1px solid;
  border-color: #d0dce7;
  display: inline-block;

  &:hover {
    border-color: #007EE5;
  }

  > .close {
    position: absolute;
    right: 5px;
    top: 7px;

    &:hover {
      border-color: #007EE5;
    }
  }

  &-simple {
    display: block;
    height: 40px;

    span {
      font-size: 16px;
      transform: translateY(30%);
      display: inline-block;
    }

    button {
      border: 0;
      background: transparent;
      float: right;
      transform: translateY(50%);
    }
  }

}

.md-input-group {
  position: relative;
  margin-bottom: 7px;
}

input {
  font-size: 16px;
  padding: 7px 0 8px;
  display: block;
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
.placeholder-label {
  color: #a8b8c4;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: .2s ease all;
  -moz-transition: .2s ease all;
  -webkit-transition: .2s ease all;
}

/* active state */
input:focus ~ .placeholder-label {
  top: -14px;
  left: 0;
  font-size: 12px;
}

.placeholder-label.has-value {
  top: -14px!important;
  left: 0!important;
  font-size: 12px!important;
  transition: none!important;
}

.hightlite-underline {
  position: absolute;
  height: 1px;
  width: 100%;
}

.hightlite-bar {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d0dce7;
  transition: .2s ease all;
  -moz-transition: .2s ease all;
  -webkit-transition: .2s ease all;
}

input:focus ~ .hightlite-underline > .hightlite-bar {
  background-color: #007EE5;
}
