%l-page {
  margin-bottom: 0;

  .l__page-header {
    padding: .5rem 0;
    color: $white;
    position: relative;
    background: transparent;
    user-select: none;
    height: 40px;
    font-size: 1.1rem;
    font-weight: 400;

    a {
      color: $white;
    }
  }

  .l__page-body {
    padding-top: 0;
    transition: padding-top .2s ease;
    @include flexbox;
    @include flex(1 0 auto);
    @include flex-direction(column);

    @include modifier ('flex-horizontal') {
      @include flex-direction(row);
    }
  }

  .l__page-footer {
    padding: .325rem;
    background: white;
    @include flexbox;
  }
  @media screen and (max-height: 600px) {
    padding-bottom: .325rem;
    transition: padding-top .2s ease;

    .l__page-body {
      padding-top: .325rem;
    }
  }
  @media screen and (min-height: 600px)and (max-height: 699px) {
    padding-bottom: .625rem;

    .l__page-body {
      padding-top: .625rem;
    }
  }
  @media screen and (min-height: 700px) and (max-height: 899px) {
    padding-bottom: 1.2rem;

    .l__page-body {
      padding-top: 1.2rem;
    }
  }
  @media screen and (min-height: 900px) {
    padding-bottom: 0;

    .l__page-body {
      padding-top: 1.5rem;
    }
  }
  @media screen and (max-width: $grid-md) {
    padding-bottom: 0 !important;

    .l__page-header {
      padding: .5rem 1.2rem;
      margin-bottom: 0;
      z-index: 1;
    }

    .l__page-body {
      padding-top: 0 !important;
    }
  }
}
