%l-modal {
  .modal-dialog {
    position: relative;
    transition: transform .3s ease-out;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 60px;
    transition: width .2s linear;
  }
  @media screen and (min-width: 1200px) {
    .modal-dialog {
      width: 70%!important;
      max-width: 100%;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .modal-dialog {
      width: 80%!important;
      max-width: 100%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .modal-dialog {
      width: 95%!important;
      max-width: 100%;
    }
  }
  @media screen and (max-width: $grid-md) {
    .modal-dialog {
      width: 100%!important;
      height: 100%!important;
      margin-top: 0;
      margin-bottom: 0;
      max-width: 100%;
    }

    .modal-content {
      height: 100%;
      border-radius: 0;
    }
  }

  .modal-content {
    border: none;
  }
}
